## SHARK ATTACK

### Importamos la base de datos y verificamos los datos

In [1]:
import pandas as pd
import numpy as np

# Cargar el archivo de Excel usando Pandas
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)

In [2]:
# Verificar valores faltantes
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

### Eliminamos columnas sobrantes y valores unicos

In [3]:
# VISUALIZAR EL NOMBRE DE LAS COLUMNAS
print(df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [4]:
# # Eliminar columnas: pdf, href formula, href, Case Number.1, Case Number, original order, Unnamed: 21, Unnamed: 22, Source, Name, Species, Location
df = df.drop(['pdf', 'href formula', 'href', 'Case Number.1', 'Case Number', 'original order', 'Unnamed: 21', 'Unnamed: 22', 'Source', 'Name', 'Species ', 'Location', 'Injury'], axis=1)

In [5]:
# Eliminar columnas con más del 50% de valores faltantes
missing_values_threshold = 0.5
df = df.loc[:, df.isnull().mean() < missing_values_threshold]

In [6]:
# Renombrar columna unnamed: 11 por Died
if "Unnamed: 11" in df.columns:
    df.rename(columns={"Unnamed: 11": "Died"}, inplace=True)

In [7]:
# Eliminar filas con más de 5 valores faltantes
df = df.dropna(thresh=len(df.columns) - 5)

In [8]:
# Eliminamos los valores numericos de Sex
df = df[df['Sex'].str.isdigit() == False]

In [9]:
# Modificar Sex los valores nan, Unknown, ., por NAN
df['Sex'] = df['Sex'].replace(['nan', 'Unknown', '.'], 'NaN')

# Reemplazar 'M x 2' por 'M'
df['Sex'] = df['Sex'].replace({'M x 2': 'M'})

# Reemplazar 'lli' por 'M'
df['Sex'] = df['Sex'].replace({'lli': 'M'})

# Reemplazar ' M' por 'M'
df['Sex'] = df['Sex'].replace({' M': 'M'})

# Reemplazar 'M ' por 'M'
df['Sex'] = df['Sex'].replace({'M ': 'M'})

# Reemplazar 'N' por 'M'
df['Sex'] = df['Sex'].replace({'N': 'M'})

# Reemplazar celdas vacias por NAN
df['Sex'] = df['Sex'].replace({''}, 'NaN')

In [10]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Date'].unique())
print("\nValores faltantes:")
print(df['Date'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['15 Mar 2024' '04 Mar 2024' '02 Mar-2024' ... '1900-1905' '1883-1889'
 '1845-1853']

Valores faltantes:
0

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       46
State        421
Activity     432
Sex            0
Age         2455
Died         481
dtype: int64

In [11]:
# Eliminamos los valores letras de Date
df = df[df['Date'].str.isdigit() == False]

# Eliminamos Reported de Date
df['Date'] = df['Date'].str.replace('Reported', '')

# Dejamos solo el nombre del mes en Date
df['Date'] = df['Date'].str.replace('([^\s]+\s)', '')

# Reemplazar celdas vacias por NAN
df['Date'] = df['Date'].replace({''}, 'NaN')

In [12]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Sex'].unique())
print("\nValores faltantes:")
print(df['Sex'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['F' 'M' 'NaN']

Valores faltantes:
0

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity     389
Sex            0
Age         2257
Died         462
dtype: int64

In [13]:
# Verificar valores unicos en la columna 'Date' y visualizarlos
print("\nValores unicos:")
print(df['Date'].unique())
print("\nValores faltantes:")
print(df['Date'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['15 Mar 2024' '04 Mar 2024' '02 Mar-2024' ... '1900-1905' '1883-1889'
 '1845-1853']

Valores faltantes:
0

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity     389
Sex            0
Age         2257
Died         462
dtype: int64

In [14]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Died'].unique())
print("\nValores faltantes:")
print(df['Died'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
[nan 'N' 'Y' 'M' 'F' 'n' 'Nq' 'UNKNOWN' 2017 'Y x 2' ' N' 'y']

Valores faltantes:
462

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity     389
Sex            0
Age         2257
Died         462
dtype: int64

In [15]:
# Reemplazar minisculas por mayusculas
df['Died'] = df['Died'].str.upper()

# Modificar Died los valores nan, UNKNOWN, M, F, Nq, 2017 , por NAN
df['Died'] = df['Died'].replace(['nan', ' nan', 'UNKNOWN', 'M', 'F', 'Nq', '2017', '', ' 2017', '2017 '], 'NaN')

# Reemplazar n, ' N' por 'N'
df['Died'] = df['Died'].replace({'n': 'N', ' N': 'N'})

# Reemplazar 'Y x 2', 'y'por 'Y'
df['Died'] = df['Died'].replace({'Y x 2': 'Y', 'y': 'Y'})

#Reemplazar 2017 por NAN
df['Died'] = df['Died'].replace({'2017': 'NaN'})

# Reemplazar celdas vacias por NAN
df['Died'] = df['Died'].replace({''}, 'NaN')

# Reemplazar celdas NAN por NAN
df['Died'] = df['Died'].replace({'NaN': 'NaN'})

In [16]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Type'].unique())
print("\nValores faltantes:")
print(df['Type'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Unprovoked' ' Provoked' 'Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unverified' 'Invalid' 'Under investigation']

Valores faltantes:
18

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity     389
Sex            0
Age         2257
Died         463
dtype: int64

In [17]:
# Convertir los valores faltantes en NaN
df['Type'] = df['Type'].replace({''}, 'NaN')

In [18]:
# Visualizar los valores faltantes
print(df[df['Type'].isnull()])

               Date    Year Type       Country           State  \
191     01-Apr-2022  2022.0  NaN  SOUTH AFRICA             KZN
207     08-Feb-2022  2022.0  NaN    COSTA RICA      Guanacoste
228     16-Oct-2021  2021.0  NaN     AUSTRALIA      Queensland
233     10-Sep-2021  2021.0  NaN         EGYPT             NaN
254     21-Jul-2021  2021.0  NaN           USA         Florida
342     21-Oct-2020  2020.0  NaN           USA  North Carolina
347     21-Sep-2020  2020.0  NaN           USA          Hawaii
351     16-Sep-2020  2020.0  NaN           USA         Florida
354     08-Sep-2020  2020.0  NaN           USA         Florida
364     19-Aug-2020  2020.0  NaN           USA  South Carolina
393     04-Jun-2020  2020.0  NaN           USA        Delaware
403     29-Apr-2020  2020.0  NaN           USA      California
697     15-Sep-2017  2017.0  NaN         SAMOA    Upolu Island
997     27-Jul-2015  2015.0  NaN     AUSTRALIA        Victoria
5497    11-Sep-1936  1936.0  NaN       VIETNAM             NaN
6338    03-Mar-1890  1890.0  NaN        CEYLON             NaN
6819  Ca. 1010  BC      0.0  NaN         JAPAN             NaN
6820     Ca 4000 BC     0.0  NaN          PERU          Paloma

               Activity Sex  Age Died
191                 NaN   M  NaN  NaN
207              Diving   F   50  NaN
228        Spearfishing   M   26  NaN
233            Swimming   M  NaN  NaN
254                 NaN   F   35    N
342             Surfing   M  NaN    N
347            Swimming   F   61    N
351            Swimming   M   48    N
354        Surf fishing   M   54    N
364              Wading   F  NaN    N
393        Skimboarding   M   12    N
403       Body Boarding   M   16    N
697             Fishing   M  NaN    N
997             Surfing   M   40  NaN
5497  Wreck of a sampam   M  NaN    Y
6338             Diving   M  NaN    Y
6819                NaN   M  NaN    Y
6820                NaN   M   17    Y

In [19]:
# Modificar Type los valores nan, '?', Invalid por NAN
df['Type'] = df['Type'].replace(['nan', '?', 'Invalid'], 'NaN')  


#Reemplazar ' Provoked' por 'Provoked'
df['Type'] = df['Type'].replace({' Provoked': 'Provoked'})

# Reemplazar celdas vacias por NAN
df['Type'] = df['Type'].replace({''}, 'NaN')

# Reemplazar minusculas por mayusculas
df['Type'] = df['Type'].str.upper()

# Reemplazar celdas vacias por NAN
df['Type'] = df['Type'].replace({''}, 'NaN')

In [20]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Country'].unique())
print("\nValores faltantes:")
print(df['Country'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['AUSTRALIA' 'USA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'Mexico' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'Maldives' 'South Africa' 'ENGLAND' 'JAPAN'
 'INDONESIA' 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'New Zealand' 'British Overseas Territory' 'CANADA' 'JORDAN'
 'ST KITTS / NEVIS' 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND'
 'ISRAEL' 'CHINA' 'IRELAND' 'ITALY' 'MALAYSIA' nan 'MAURITIUS'
 'SOLOMON ISLANDS' 'ST HELENA, British overseas territory' 'REUNION'
 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO' 'KIRIBATI' 'DIEGO GARCIA'
 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM' 'NIGERIA' 'TONGA' 'SCOTLAND'
 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA' 'TURKS & CAICOS'
 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA' 'MALTA' 'VIETNAM'
 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS' 'CROATIA'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'Sierra Leone' 'ATLANTIC OCEAN'
 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA' 'VANUATU' 'MEXICO '
 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY' 'MICRONESIA'
 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS' 'SENEGAL' 'EGYPT / ISRAEL'
 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR' 'CARIBBEAN SEA' 'ANGOLA'
 'BERMUDA' 'GREECE' 'TUNISIA' 'NAMIBIA' 'NORTH ATLANTIC OCEAN'
 'SOUTH CHINA SEA' 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES'
 'PALAU' 'GRENADA' 'IRAQ' 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN'
 'JOHNSTON ISLAND' 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA'
 'NORTH PACIFIC OCEAN' 'FEDERATED STATES OF MICRONESIA'
 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS' 'BRITISH WEST INDIES'
 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF' 'RED SEA / INDIAN OCEAN'
 'PACIFIC OCEAN' 'NORTH SEA' 'MALDIVE ISLANDS' 'AMERICAN SAMOA'
 'ANDAMAN / NICOBAR ISLANDAS' 'GABON' 'MAYOTTE' 'NORTH ATLANTIC OCEAN '
 'MONTENEGRO' 'YEMEN' 'THE BALKANS' 'SUDAN?' 'IRAN' 'GUATEMALA'
 'NETHERLANDS ANTILLES' 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ'
 'SIERRA LEONE' ' PHILIPPINES' 'CENTRAL PACIFIC' 'INDIAN OCEAN'
 'SOLOMON ISLANDS / VANUATU' 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL'
 'ICELAND' 'ITALY / CROATIA' 'NICARAGUA' 'MONACO' 'GUYANA' 'BARBADOS'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'LIBYA' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'MARTINIQUE'
 'BRITISH NEW GUINEA' 'CEYLON' 'GEORGIA' 'SYRIA' 'INDIAN OCEAN?' 'GUINEA'
 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA'
 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA'
 'Between PORTUGAL & INDIA' 'BAHREIN' 'KOREA' 'RED SEA?'
 'MEDITERRANEAN SEA' 'ASIA?' 'CEYLON (SRI LANKA)']

Valores faltantes:
42

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity     389
Sex            0
Age         2257
Died         463
dtype: int64

In [21]:
# Reemplazar minisculas por mayusculas
df['Country'] = df['Country'].str.upper()

# Eliminar espacios en las celdas
df['Country'] = df['Country'].str.strip()

In [22]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['State'].unique())
print("\nValores faltantes:")
print(df['State'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Queensland' 'Hawaii' 'Western Australia' 'Maharashtra' nan
 'New  South Wales' 'Paradise Island' 'South Australia'
 'Eastern Cape Province' 'Sonora' 'New South Wales' 'South Island'
 'Guerrero' 'New Providence   Isoad' 'Jalisco' 'Grand  Bahama Island'
 'Florida' 'Westerm Australia' 'North Island' 'Southern Red Sea'
 'Quintana Roo' 'Belize District' 'California' 'South Carolina'
 'South Sinai' 'Bolinao' 'Valencia' 'Norte' "Savai'i island" 'New York'
 'San Andrés Island' 'Galapagos Islands' 'Red Sea Protectorate' 'Freeport'
 'Tahiti' 'Poum' 'Providenciales Island' 'Lucayan Lucayan Archipelago'
 'New Jersey' 'Mayabeque' 'Easten Cape Province' 'Artemisa' 'Pernambuco'
 'Praslin Island' 'South Province' 'Patagonia' 'Taveuni Island'
 'Gulf of California' 'Vaavu Atoll' 'KNZ' 'New South ales' 'Samoa' 'Texas'
 'Louisiana' 'Mississippi' 'Western  Australia' 'Victoria'
 'Western Cape Province' 'Cornwall' 'Noirth Carolina' 'Okinawa' 'Bali'
 'Hurghada, Red Sea Governorate' 'Ambergris Cay' 'Georgia' 'Phuket'
 'Alabama' 'KZN' 'Isla De San Andres' 'Guanacoste' 'KwaZulu-Natal'
 'São Paulo.' 'Turks and Caicos' 'Nova Scotia' 'Maryland' 'North Carolina'
 'Chanthaburi Province' 'BAHAMAS' 'Galapagos' 'Aqaba' 'West Sussex'
 'Nouville' 'Ambergris Key' 'Westmoreland Parish' 'Marquesas'
 'Loyalty Islands' 'Maui' 'The Narrows' 'Raa Atoll' 'Oregon'
 ' Grand Bahama Island' 'Franklin County, Florida' 'Virgin Islands'
 'Tuamotu Islands' 'Maine' 'Bahamas' 'Tasmania' 'Delaware' 'Abaco Islands'
 'Muang district of Satun province, ' 'Canary Islands' 'Vanua Levu'
 'Exumas' 'Southland' 'Phang Nga Province' 'Praslin' 'Central Province'
 'Holquin' 'Moorea' 'Baja ' 'Saint-Gilles' 'Guam' 'Northern Territory '
 'Cayman Islands' 'Rhode Island' 'Chatham Islands' 'Quinta Roo'
 'Lucayan Archipelago' 'Bélep Islands' 'Noumea' 'Fernando de Noronha'
 'Liaoning Province' 'New South Wales ' 'Upolo' 'St. Marys Parish'
 'Massachusetts' 'County Cork' 'Chieti, Province' 'Guizhou Province'
 'San Andres and Providencia Archipelago' 'The Exuma Cays' 'Colima'
 'Hua Hin' 'Cocos Island' 'Alifu Alifu Atoll' 'New Providence' 'Alagoas'
 'Boi Island, Victoria' 'Sepang' 'Holquin Province' 'Pamplemousses '
 ' Upolu Island' 'Shizuoka Prefecture' 'Castellón'
 'New Providence District' '40 miles off Grand Bahama Island'
 'Ascension Island' 'Majorca' 'Washington' 'Tabasco' 'Ibiza Island'
 'South Devon' 'New Providence ' 'Sharjah, ' 'Baja California Sur'
 'Saint-Leu' 'Luzon Island' 'Tamaulipas' 'Saint-Andre' 'Bimini' 'Tuamotos'
 'North Province' 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Isla Providencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Santa Catarina State' 'Altagracia Province'
 'Grand Cayman' 'Balneário Camboriú' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Alicante' 'Guanacaste'
 'Bora Bora' 'Grand Bahama Island' 'Le Port' 'Rangiroa'
 'Saint-Gilles-les-Bains' 'Sardinia' 'Sinaloa' 'Central Tuamotu'
 'd’Étang-Salé' 'Granada' 'Cargados Carajos Shoals (St. Brandon)'
 'Catalonia' 'West End' 'Atsumi peninsula' 'Palmyra Atoll'
 'Wallis and Futuna' 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad'
 'Okinawa Prefecture' '740 miles SE of Tarawa Atoll' 'Southern District'
 'Bay of Biscay' 'Exuma Islands' 'Saint-Paul' 'Taitung ' 'Kingston Parish'
 'Santa Cruz Island' 'Tuamotus' 'Eleuthera' 'St. Catherine' 'Palawan'
 'Mercury Islands' 'Delta' "Vava'u" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Saint-Benoit' 'Tabuk Province'
 'Antofagasta Province' "St John's" 'Santa Elena' 'East New Britain'
 'Bois-Blanc ' 'Moray' 'Puerto Rico' 'Samaná Province' 'Coast Province'
 'Primorsky Krai' 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 ' Loyalty Islands' 'Saint Gilles ' 'Virginia' "Ha'api "
 'Western Province' 'Jeju Province' 'Binh Dinh Province'
 'Antsiranana Province' 'Sinai Peninsula' 'Off Vanua Levu' 'Merizo'
 'Rio Grande Do Sul' 'Dubai' 'Torres Strait' 'Eastern Province'
 'Eastern Cape  Province' 'Maputo Province' 'Bocas' 'Fife' 'Devon'
 'Makira-Ulawa Province' 'Mombasa' 'Catalunya' 'St. Johns Reef'
 'Off Green Island' 'North Region' 'Batangas province' 'Strait of Malacca'
 'Guantanamo Province' 'Maranhão' 'Red Sea' 'Batanes Provine' 'Luzon'
 'Northern Territory' ' Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Bimini Islands' 'Cook islans' 'Ambergris Caye' 'Saint-Pierre'
 'Andros Islands' 'Western Area' '300 miles from Antigua'
 '800 miles from land' 'Simpson Bay' 'East Wall' 'Inner Islands'
 'Shanghai' 'Malampa Province' "South Ch'ungch'ong Province" 'Bay Islands'
 'New Mexico' 'Santa Isabel Province' 'Santiago de Cuba Province'
 'Camaguey Province' 'Conservatória District' 'South Carolina '
 'Kuril Islands in the Pacific' 'Wakayama Prefecture' "Nuku'alofa"
 'Saint-Benoît' 'South Island, near Karitane north of Dunedin' 'Rocha'
 'Northlands' 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands'
 'Taveuni' 'Johnston Atoll' 'Rio de Janeiro' 'Nueva Esparta'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Ralik Chain'
 'Grand Baie' "L' Etang Salé-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Berry Islands' 'Transvaal' 'Gaza' "Grand'Anse"
 'Miyako' "L'Etang-Sale" 'Chatham Islands ' 'South Sinai, Gulf of Aqaba'
 'Cat Cay' 'Missouri' 'Saint-Paul '
 'Chatham Islands, east of New  Zealand' 'Saint-Denis' 'Vava’u'
 'Clearwater Bay' 'New Territories' 'Aichi Prefecture' 'Banaadir Region'
 'La Libertad' 'Costa Blanca' 'Walkers Cay'
 'On the Kowloon penisula, south of Sai Kung' 'Tongapatu Group'
 'West Africa' 'Wakaya Island' 'North Carolina ' 'Saint-Joseph'
 'Mexico / Caribbean Sea' 'Antarctic Ocean' 'Ehime Prefecture'
 'La Saline-les-Bains' 'Ligurian Sea' "L'Etang-Salé" 'Kowloon Peninsula'
 'Port Shelter' 'Laucala Island' 'Sainte-Marie' 'Great Exuma Island'
 'Sainte-Suzanne' 'Tuscany' 'Sea of Japan' 'Tyrrhenian Sea'
 'Valpariso Province' 'New Ireland' 'Manfredonia ' 'Tokyo Prefecture'
 'Saint-Louis' 'Florida Straits' 'Cádiz' 'Sicily' 'Andikira Fokithes'
 'Central Philippines' 'Northwest Italy' 'English Channel'
 'Carolina coast' 'Kumamoto Prefecture' 'Saint-Philippe' 'Chungnam'
 'Eronogo Region' 'Coquimbo' 'Pagasitikos Gulf' "St. Mary's Parish"
 'Lamu Archipelago' 'Los Vilos' 'Island of Kos' "Ha'api" 'Madeira Islands'
 'Ho Ha Wan Marine Park' 'Southern Thailand' 'Ralik Archipelago'
 'South China Sea 200 miles from Hong Kong' 'Reggio Calabria Province'
 'Mirs Bay ' 'Genoa Province' ' Split-Dalmatia County' 'Florida '
 'Upolu Island' 'Istria County' 'Inhambe Province' 'Namonuito Atoll'
 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'St. Andrew Parish'
 'Limpopo River' 'New Ireland Province' 'Basrah' 'Clarendon'
 'Magdalena Department' 'Gulf Province' 'Brindisi Province'
 'Kagawa Prefecture' 'Liguria' 'Hamilton' 'Out Islands' 'Mugla Province'
 'Gibraltar' 'New Britain' 'Veracruz' 'Bay of Maputo'
 'Duke of York Islands' 'Primorje-Gorski Kotar County ' 'Taranto province'
 'Northern Taiwan' 'Admiralty Islands, Manus Province'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'Western Caroline Islands'
 'East of the Gulf of Aqaba' 'Bougainville (North Solomons)' 'Victoria '
 'Okayama Prefecture' 'San Blas' 'Lau Group' 'Caribbean Coast' 'Vita Levu'
 'San Blas Islands' 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 ' Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off coast of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago'
 'Off the Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ºS, 142ºE' 'Kwajalein Atoll'
 'Western Luzon Island' 'Shefa Province' '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia' 'Adriatic Sea'
 'East New Britain Province' 'Wake Island (EnenKio)' '19S, 178?E'
 'Pennsylvania' 'Roncador Bank' 'Western District'
 'Enroute from Suez to Aden (Yemen)' '180 miles southeast of Okinawa'
 'Eniwetok Atoll' 'Connecticut' 'In the English Channel '
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Eastern  Province'
 'Northwest of Viti Levu' 'Masbate' '400 miles southeast of Sri Lanka'
 'Lomaiviti Province' 'Kadavu' 'Leyte Island' 'Guerrrero'
 'Hokkaido Prefecture' 'North Palawan' 'Istria' 'Mersin Province'
 'Guyamas' 'Between England & South Africa' 'Mindanao'
 ' Kikori River mouth' 'South Chungcheong Province' 'Tutuila Island'
 'West New Britain Province' 'Primorje-Gorski Kotar County'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Morobe Province'
 'Ibaraki Prefecture' 'Honiara' 'Viti Levu' 'Estuaire Province'
 'Near Dakar, Cap Vert Peninsula' 'Near the Andaman & Nicobar Islands'
 'Mozambique Channel' 'Tyrrenian Sea' 'St. Thomas Bay' 'Madeira'
 '1000 miles west of Hawaii' 'Izo Islands' ' Primorje-Gorski Kotar County'
 'Open sea' 'Aden' 'New Ireland, Bismarck Archipelago' 'Isles del Rosario'
 'Wake Island' 'Isle of Man' 'Nagasaki Prefecture' 'Slovenia'
 'South shore ' 'Buenos Aires Province' 'Karun River' 'Gulf of Panama'
 'Genoa  Province' 'Abau Sub District, Central Province' 'Red Sea State'
 'Curacao' 'Port Louis Province' 'Montserrado' 'Bay of Maputu'
 'Sofala Province' 'Salerno' 'Salerno Province' 'Corfu Island' 'Taranto'
 ' La Libertad' 'Sago Prefecture' 'Caribbean Sea' 'Jakarta Harbour'
 'Calabria' 'Shatt-el-Arab River' 'Shatt-al-Arab River'
 'Shat-Al-Arab River' 'Between Kwajalein Atoll & Johnston Island' 'Attica'
 'Adana Province' 'Bandar Ma’shur sea inlet' 'Saipan' 'Carpathian Sea'
 'Kwajalein' 'Khuzestan Province' 'Dar-es-Salaam ' 'Ryukyu' 'Tel Aviv'
 '300 miles east of Luzon' 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Near the Fiji Islands'
 '40 miles south of Naples ' 'Northwest of Papua New Guinea'
 'Between Hawaii and U.S.A.' 'Off South American coast'
 'Makora-Ulawa Province' 'Midway Atoll'
 '300 miles east of St. Thomas (Virgin Islands)' 'Camiguin Island'
 'Off Libya' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'Panama Bay (Pacific Ocean)' 'Torres Strait '
 'North China' 'Nicoya Peninsula' 'Basrah City' 'Queensland ' 'Argyll'
 'Colon Province' 'Fishing Grounds' 'Isle of Wight'
 'Makira-Uluwa Province' 'Elqui Province' 'Istanbul' 'Havana Province'
 'Barlavento Islands' 'Viti Levu Island' 'Bay of Fundy' 'Manila'
 'French Southern Territories' 'Black River' 'Phoenix Islands'
 'Cienfuegos Province' 'Santiago Island' 'Near Puntarenas' 'Salinas Bay'
 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator ' 'Bay of Monaco' 'Valencia ' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Demerara County' ' Manila Bay' 'Lucy'
 'East Yorkshire' 'Cape Haitien' 'Leyte' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Gran Canaria' 'Apolima Strait' 'Zadar County' 'Essequibo' 'Lagos '
 'Viti Levu group' 'Málaga ' 'Georges Bank' 'Colón Province' 'Andalucia'
 'Sfax' 'South Atlantic Ocean' 'Galicia' 'Gulf of Suez' 'Java'
 'Tiburon Peninsula' 'Oaxaca' 'Harare Province' 'Maluku Province'
 'Suez Canal' ' Nusa Tenggara' 'Between Noumea & Sydney'
 'Villa Clara Province' 'Ancona Province' 'Rio San Juan'
 'Mediterranean Sea' 'Southern Cyprus' 'Syracuse' 'Western Viscayas'
 'Negros ' 'Imperia Province' 'Muala' 'East coast' 'Vera Cruz'
 'St Michael Parish' 'Moluccas' 'Bocas del Toro' 'Provence'
 'Bay of Campeche' 'Rangoon' 'Bay of Bengal' 'Bayelsa State'
 'South Island?' 'Norfolk Island' 'Woodlark Islands' 'Munxar Reef'
 'Between Perth & Colombo' 'Gujarat' 'Cortés' ' New Jersey'
 "Côte d'Azur  " 'Maldonado coast' 'Western Banks' 'West Bengal'
 'Andaman Islands' 'East Java' 'Off the coast of West Africa'
 'Misamis Oriental' 'Strait of Messina' 'Hoogly River'
 'Cyclades archipelago' 'Veracruz ' 'Gilbert Islands' 'Newfoundland'
 'Lomaiviti Provine' 'Off the coast of South America' '22ºN, 88ºE'
 'Alpes Maritime' 'Edinburgh' 'Eastern Catalona'
 '300 miles east of Mauritius' 'Foveaux Strait' 'Conakry Region' 'Corfu'
 'Malaga' 'Fernando Po Island' 'Mangaia Island' 'New York ' 'Corfu '
 'Between Australia & USA' 'Tongatapu' 'Norfolk' 'Island of St. Thomas'
 'Matanzas Province (north coast)' 'Cumberland' 'Sanma Province'
 "35º39 : 165º8'" 'CUBA' 'Western Area ' 'Paraiba' 'Cape Coast'
 'St Helena' 'Southwest coast' "Côte d'Azur " 'Nice & Marseilles'
 'Magarita or Cubagua Islands' 'Yucatan' 'Ionian Sea' 'Piraeus'
 'Off Thessaly' 'Paloma' 'Bocas del Toro Province' 'Rocha ' 'Cyrenaica'
 'Northern Province' 'Los Roques  Islands' 'Dodecanese Islands'
 'Malaita Province' 'South Korea' 'Milne Bay  Province' 'Island of Volos'
 'Amirante Islands' 'Kadavu Island Group' 'Toamasina Province'
 'Riau Province' 'Lake Nicaragua (fresh water)' 'Bikini Atoll'
 'New Georgia' 'Between New Ireland & New Britain'
 'Ba Ria-Vung Tau  Province']

Valores faltantes:
389

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity     389
Sex            0
Age         2257
Died         463
dtype: int64

In [23]:
# Reemplazar minisculas por mayusculas
df['State'] = df['State'].str.upper()

# Eliminar espacios en las celdas
df['State'] = df['State'].str.strip()

# Reemplazar celdas vacias por NAN
df['State'] = df['State'].replace({''}, 'NaN')

In [24]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Activity'].unique())
print("\nValores faltantes:")
print(df['Activity'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Swimming' 'Surfing' nan ... 'Swimming around anchored ship'
 'Crew swimming alongside their anchored ship' '4 men were bathing']

Valores faltantes:
389

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity     389
Sex            0
Age         2257
Died         463
dtype: int64

In [25]:
# Reemplazar minisculas por mayusculas
df['Activity'] = df['Activity'].str.upper()

# Eliminar espacios en las celdas
df['Activity'] = df['Activity'].str.strip()

# Reemplazar celdas vacias por NAN
df['Activity'] = df['Activity'].replace({''}, 'NaN')

# Reemplazar los valores que no sean 'SURFING', 'SWIMMING' o 'FISHING' por NaN
valid_activities = ['SURFING', 'SWIMMING', 'FISHING']
df['Activity'] = df['Activity'].apply(lambda x: x if x in valid_activities else np.nan)

In [26]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Age'].unique())
print("\nValores faltantes:")
print(df['Age'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['13' nan '11' '46' '32' '29' '10' '64' '62' '39' '22' '15' '16' '21' '66'
 '52' '20' '44' '26' '47' '55' '30' '59' '8' '50' '45' '34' '38' '30s'
 '37' '19' '20/30' '35' '65' '20s' '77' '60' 38 '49' '42' '!2' '24' '73'
 '25' '18' '50s' '58' '67' '17' '14' '6' '41' '53' '68' '43' '40' '51'
 '31' 39 26 58 51 14 17 10 13 33 16 40 49 41 60 28 '40s' 68 35 62 'teen'
 20 8 22 32 56 'Teen' 12 21 42 36 18 37 50 'M' 9 24 15 11 27 57 34 25 '!6'
 31 64 '!!' 47 55 19 7 71 48 59 53 54 75 '45 and 15' 46 61 73 52 29 30 70
 23 4 63 45 44 '28 & 22' '60s' "20's" 43 65 67 74 '9 & 60' 'a minor' 6 69
 3 82 66 72 '23' '12' '9' '36' '63' '71' '48' '70' '18 months' '57' '7'
 '28' '33' '61' '74' '27' '3' '56' '28 & 26' '5' '54' '86' '18 or 20'
 '12 or 13' '46 & 34' '28, 23 & 30' 'Teens' 77 '8 or 10' 84 '\xa0 ' ' '
 '30 or 36' '6½' '21 & ?' '33 or 37' 'mid-30s' '23 & 20' 5 ' 30'
 '7      &    31' ' 28' '20?' "60's" '69' '32 & 30' '16 to 18' '87'
 'Elderly' 'mid-20s' 'Ca. 33' '74 ' '45 ' '21 or 26' '20 ' '>50'
 '18 to 22' 'adult' '? & 19' '9 months' '25 to 35' '23 & 26' 1 '(adult)'
 '33 & 37' '25 or 28' '37, 67, 35, 27,  ? & 27' '21, 34,24 & 35' '30 & 32'
 '17 & 35' 'X' '"middle-age"' '13 or 18' '33 & 26' '4' ' 43' '81'
 '"young"' '7 or 8' 78 'F' 'Both 11' '9 or 10' 'young' '36 & 23' '  ' '78'
 'A.M.' '?    &   14' '10 or 12' '31 or 33' '2½' '1' '13 or 14']

Valores faltantes:
2257

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       42
State        389
Activity    3674
Sex            0
Age         2257
Died         463
dtype: int64

In [27]:
# Reemplazar celdas vacias por NAN
df['Age'] = df['Age'].replace({''}, 'NaN')

# Convertir la columna 'Age' a numérica, con valores no numéricos convertidos a NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [28]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Injury'].unique())
print("\nValores faltantes:")
print(df['Injury'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:

KeyError: 'Injury'

### ELIMINAMOS DUPLICADOS

In [ ]:
df.duplicated().sum()

9

In [ ]:
df.duplicated().any()

True

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
# Valores nulos
df.isnull().sum()

Date           0
Year           2
Type          18
Country       42
State        388
Activity    3667
Sex            0
Age         2368
Injury        17
Died         463
dtype: int64

### Eliminamos las filas de 1642 para atras

In [ ]:
# Eliminar las filas de menos del year 1700
df = df[df['Year'] >= 1700]

## Usamos mismo formato horario

In [ ]:
# Mostrar las primeras filas de la columna Date
print(df['Date'].head())

0   2024-03-15
1   2024-03-04
2   2024-03-02
3   2024-02-25
4   2024-02-14
Name: Date, dtype: datetime64[ns]

In [ ]:
# Intentar convertir la columna Date a datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

C:\Users\thaty\AppData\Local\Temp\ipykernel_20312\336145165.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')