## SHARK ATTACK

### Importamos la base de datos y verificamos los datos

In [1]:
import pandas as pd
import numpy as np

# Cargar el archivo de Excel usando Pandas
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)

In [2]:
# Verificar valores faltantes
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

### Eliminamos columnas sobrantes y valores unicos

In [3]:
# # Eliminar columnas: pdf, href formula, href, Case Number.1, Case Number, original order, Unnamed: 21, Unnamed: 22, Source

df.drop(['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22', 'Source'], axis=1, inplace=True)

In [4]:
# Eliminar columnas con más del 50% de valores faltantes
missing_values_threshold = 0.5
df = df.loc[:, df.isnull().mean() < missing_values_threshold]

In [5]:
# Renombrar columna unnamed: 11 por Died
if "Unnamed: 11" in df.columns:
    df.rename(columns={"Unnamed: 11": "Died"}, inplace=True)

In [6]:
# Eliminar filas con más de 5 valores faltantes
df = df.dropna(thresh=len(df.columns) - 5)

In [7]:
# Eliminamos los valores numericos de Sex
df = df[df['Sex'].str.isdigit() == False]

In [8]:
# Modificar Sex los valores nan, Unknown, ., por NAN
df['Sex'] = df['Sex'].replace(['nan', 'Unknown', '.'], 'NaN')

# Reemplazar 'M x 2' por 'M'
df['Sex'] = df['Sex'].replace({'M x 2': 'M'})

# Reemplazar 'lli' por 'M'
df['Sex'] = df['Sex'].replace({'lli': 'M'})

# Reemplazar ' M' por 'M'
df['Sex'] = df['Sex'].replace({' M': 'M'})

# Reemplazar 'M ' por 'M'
df['Sex'] = df['Sex'].replace({'M ': 'M'})

# Reemplazar 'N' por 'M'
df['Sex'] = df['Sex'].replace({'N': 'M'})

# Reemplazar celdas vacias por NAN
df['Sex'] = df['Sex'].replace({''}, 'NaN')

In [9]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Sex'].unique())
print("\nValores faltantes:")
print(df['Sex'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['F' 'M' 'NaN']

Valores faltantes:
0

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [10]:
# Verificar valores unicos en la columna 'Date' y visualizarlos
print("\nValores unicos:")
print(df['Date'].unique())
print("\nValores faltantes:")
print(df['Date'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['15 Mar 2024' '04 Mar 2024' '02 Mar-2024' ... '1900-1905' '1883-1889'
 '1845-1853']

Valores faltantes:
0

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [11]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Died'].unique())
print("\nValores faltantes:")
print(df['Died'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
[nan 'N' 'Y' 'M' 'F' 'n' 'Nq' 'UNKNOWN' 2017 'Y x 2' ' N' 'y']

Valores faltantes:
478

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [12]:
# Modificar Died los valores nan, UNKNOWN, M, F, Nq, 2017 , por NAN
df['Died'] = df['Died'].replace(['nan', ' nan', 'UNKNOWN', 'M', 'F', 'Nq', '2017', '', ' 2017', '2017 '], 'NaN')

# Reemplazar n, ' N' por 'N'
df['Died'] = df['Died'].replace({'n': 'N', ' N': 'N'})

# Reemplazar 'Y x 2', 'y'por 'Y'
df['Died'] = df['Died'].replace({'Y x 2': 'Y', 'y': 'Y'})

#Reemplazar 2017 por NAN
df['Died'] = df['Died'].replace({'2017': 'NaN'})

# Reemplazar celdas vacias por NAN
df['Died'] = df['Died'].replace({''}, 'NaN')

# Reemplazar celdas NAN por NAN
df['Died'] = df['Died'].replace({'NaN': 'NaN'})

In [13]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Type'].unique())
print("\nValores faltantes:")
print(df['Type'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Unprovoked' ' Provoked' 'Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unverified' 'Invalid' 'Under investigation']

Valores faltantes:
18

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [14]:
# Modificar Type los valores nan, '?', Invalid por NAN
df['Type'] = df['Type'].replace(['nan', '?', 'Invalid'], 'NaN')  


#Reemplazar ' Provoked' por 'Provoked'
df['Type'] = df['Type'].replace({' Provoked': 'Provoked'})

# Reemplazar celdas vacias por NAN
df['Type'] = df['Type'].replace({''}, 'NaN')

# Reemplazar minusculas por mayusculas
df['Type'] = df['Type'].str.upper()

# Reemplazar celdas vacias por NAN
df['Type'] = df['Type'].replace({''}, 'NaN')

In [15]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Country'].unique())
print("\nValores faltantes:")
print(df['Country'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['AUSTRALIA' 'USA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'Mexico' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'Maldives' 'South Africa' 'ENGLAND' 'JAPAN'
 'INDONESIA' 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'New Zealand' 'British Overseas Territory' 'CANADA' 'JORDAN'
 'ST KITTS / NEVIS' 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND'
 'ISRAEL' 'CHINA' 'IRELAND' 'ITALY' 'MALAYSIA' nan 'MAURITIUS'
 'SOLOMON ISLANDS' 'ST HELENA, British overseas territory' 'REUNION'
 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO' 'KIRIBATI' 'DIEGO GARCIA'
 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM' 'NIGERIA' 'TONGA' 'SCOTLAND'
 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA' 'TURKS & CAICOS'
 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA' 'MALTA' 'VIETNAM'
 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS' 'CROATIA'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'Sierra Leone' 'ATLANTIC OCEAN'
 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA' 'VANUATU' 'MEXICO '
 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY' 'MICRONESIA'
 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS' 'SENEGAL' 'EGYPT / ISRAEL'
 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR' 'CARIBBEAN SEA' 'ANGOLA'
 'BERMUDA' 'MONTENEGRO' 'IRAN' 'GREECE' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'PALAU' 'WESTERN SAMOA'
 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ' 'TURKEY' 'SINGAPORE'
 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND' 'SOUTH PACIFIC OCEAN'
 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'YEMEN' 'THE BALKANS' 'SUDAN?'
 'MARTINIQUE' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'SIERRA LEONE' ' PHILIPPINES'
 'CENTRAL PACIFIC' 'INDIAN OCEAN' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'CURACAO'
 'ICELAND' 'ITALY / CROATIA' 'NICARAGUA' 'MONACO' 'GUYANA' 'BARBADOS'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'LIBYA' 'YEMEN ' 'FALKLAND ISLANDS'
 'CRETE' 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'INDIAN OCEAN?'
 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS'
 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA'
 'MEDITERRANEAN SEA' 'SWEDEN' 'Between PORTUGAL & INDIA' 'BAHREIN' 'KOREA'
 'RED SEA?' 'ASIA?' 'CEYLON (SRI LANKA)']

Valores faltantes:
41

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [16]:
# Reemplazar minisculas por mayusculas
df['Country'] = df['Country'].str.upper()

# Eliminar espacios en las celdas
df['Country'] = df['Country'].str.strip()

In [17]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['State'].unique())
print("\nValores faltantes:")
print(df['State'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Queensland' 'Hawaii' 'Western Australia' 'Maharashtra' nan
 'New  South Wales' 'Paradise Island' 'South Australia'
 'Eastern Cape Province' 'Sonora' 'New South Wales' 'South Island'
 'Guerrero' 'New Providence   Isoad' 'Jalisco' 'Grand  Bahama Island'
 'Florida' 'Westerm Australia' 'North Island' 'Southern Red Sea'
 'Quintana Roo' 'Belize District' 'California' 'South Carolina'
 'South Sinai' 'Bolinao' 'Valencia' 'Norte' "Savai'i island" 'New York'
 'San Andrés Island' 'Galapagos Islands' 'Red Sea Protectorate' 'Freeport'
 'Tahiti' 'Poum' 'Providenciales Island' 'Lucayan Lucayan Archipelago'
 'New Jersey' 'Mayabeque' 'Easten Cape Province' 'Artemisa' 'Pernambuco'
 'Praslin Island' 'South Province' 'Patagonia' 'Taveuni Island'
 'Gulf of California' 'Vaavu Atoll' 'KNZ' 'New South ales' 'Samoa' 'Texas'
 'Louisiana' 'Mississippi' 'Western  Australia' 'Victoria'
 'Western Cape Province' 'Cornwall' 'Noirth Carolina' 'Okinawa' 'Bali'
 'Hurghada, Red Sea Governorate' 'Ambergris Cay' 'Georgia' 'Phuket'
 'Alabama' 'KZN' 'Isla De San Andres' 'Guanacoste' 'KwaZulu-Natal'
 'São Paulo.' 'Turks and Caicos' 'Nova Scotia' 'Maryland' 'North Carolina'
 'Chanthaburi Province' 'BAHAMAS' 'Galapagos' 'Aqaba' 'West Sussex'
 'Nouville' 'Ambergris Key' 'Westmoreland Parish' 'Marquesas'
 'Loyalty Islands' 'Maui' 'The Narrows' 'Raa Atoll' 'Oregon'
 ' Grand Bahama Island' 'Franklin County, Florida' 'Virgin Islands'
 'Tuamotu Islands' 'Maine' 'Bahamas' 'Tasmania' 'Delaware' 'Abaco Islands'
 'Muang district of Satun province, ' 'Canary Islands' 'Vanua Levu'
 'Exumas' 'Southland' 'Phang Nga Province' 'Praslin' 'Central Province'
 'Holquin' 'Moorea' 'Baja ' 'Saint-Gilles' 'Guam' 'Northern Territory '
 'Cayman Islands' 'Rhode Island' 'Chatham Islands' 'Quinta Roo'
 'Lucayan Archipelago' 'Bélep Islands' 'Noumea' 'Fernando de Noronha'
 'Liaoning Province' 'New South Wales ' 'Upolo' 'St. Marys Parish'
 'Massachusetts' 'County Cork' 'Chieti, Province' 'Guizhou Province'
 'San Andres and Providencia Archipelago' 'The Exuma Cays' 'Colima'
 'Hua Hin' 'Cocos Island' 'Alifu Alifu Atoll' 'New Providence' 'Alagoas'
 'Boi Island, Victoria' 'Sepang' 'Holquin Province' 'Pamplemousses '
 ' Upolu Island' 'Shizuoka Prefecture' 'Castellón'
 'New Providence District' '40 miles off Grand Bahama Island'
 'Ascension Island' 'Majorca' 'Washington' 'Tabasco' 'Ibiza Island'
 'South Devon' 'New Providence ' 'Sharjah, ' 'Baja California Sur'
 'Saint-Leu' 'Luzon Island' 'Tamaulipas' 'Saint-Andre' 'Bimini' 'Tuamotos'
 'North Province' 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Isla Providencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Santa Catarina State' 'Altagracia Province'
 'Grand Cayman' 'Balneário Camboriú' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Alicante' 'Guanacaste'
 'Bora Bora' 'Grand Bahama Island' 'Le Port' 'Rangiroa'
 'Saint-Gilles-les-Bains' 'Sardinia' 'Sinaloa' 'Central Tuamotu'
 'd’Étang-Salé' 'Granada' 'Cargados Carajos Shoals (St. Brandon)'
 'Catalonia' 'West End' 'Atsumi peninsula' 'Palmyra Atoll'
 'Wallis and Futuna' 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad'
 'Okinawa Prefecture' '740 miles SE of Tarawa Atoll' 'Southern District'
 'Bay of Biscay' 'Exuma Islands' 'Saint-Paul' 'Taitung ' 'Kingston Parish'
 'Santa Cruz Island' 'Tuamotus' 'Eleuthera' 'St. Catherine' 'Palawan'
 'Mercury Islands' 'Delta' "Vava'u" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Saint-Benoit' 'Tabuk Province'
 'Antofagasta Province' "St John's" 'Santa Elena' 'East New Britain'
 'Bois-Blanc ' 'Moray' 'Puerto Rico' 'Samaná Province' 'Coast Province'
 'Primorsky Krai' 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 ' Loyalty Islands' 'Saint Gilles ' 'Virginia' "Ha'api "
 'Western Province' 'Jeju Province' 'Binh Dinh Province'
 'Antsiranana Province' 'Sinai Peninsula' 'Off Vanua Levu' 'Merizo'
 'Rio Grande Do Sul' 'Dubai' 'Torres Strait' 'Eastern Province'
 'Eastern Cape  Province' 'Maputo Province' 'Bocas' 'Fife' 'Devon'
 'Makira-Ulawa Province' 'Mombasa' 'Catalunya' 'St. Johns Reef'
 'Off Green Island' 'North Region' 'Batangas province' 'Strait of Malacca'
 'Guantanamo Province' 'Maranhão' 'Red Sea' 'Batanes Provine' 'Luzon'
 'Northern Territory' ' Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Bimini Islands' 'Cook islans' 'Ambergris Caye' 'Saint-Pierre'
 'Andros Islands' 'Western Area' '300 miles from Antigua'
 '800 miles from land' 'Simpson Bay' 'East Wall' 'Inner Islands'
 'Shanghai' 'Malampa Province' "South Ch'ungch'ong Province" 'Bay Islands'
 'New Mexico' 'Santa Isabel Province' 'Santiago de Cuba Province'
 'Camaguey Province' 'Conservatória District' 'South Carolina '
 'Kuril Islands in the Pacific' 'Wakayama Prefecture' "Nuku'alofa"
 'Saint-Benoît' 'South Island, near Karitane north of Dunedin' 'Rocha'
 'Northlands' 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands'
 'Taveuni' 'Johnston Atoll' 'Rio de Janeiro' 'Nueva Esparta'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Ralik Chain'
 'Grand Baie' "L' Etang Salé-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Berry Islands' 'Transvaal' 'Gaza' "Grand'Anse"
 'Miyako' "L'Etang-Sale" 'Chatham Islands ' 'South Sinai, Gulf of Aqaba'
 'Cat Cay' 'Missouri' 'Saint-Paul '
 'Chatham Islands, east of New  Zealand' 'Saint-Denis' 'Vava’u'
 'Clearwater Bay' 'New Territories' 'Aichi Prefecture' 'Banaadir Region'
 'La Libertad' 'Costa Blanca' 'Walkers Cay'
 'On the Kowloon penisula, south of Sai Kung' 'Tongapatu Group'
 'West Africa' 'Wakaya Island' 'North Carolina ' 'Saint-Joseph'
 'Mexico / Caribbean Sea' 'Antarctic Ocean' 'Ehime Prefecture'
 'La Saline-les-Bains' 'Tavenui' 'Ligurian Sea' "L'Etang-Salé"
 'Kowloon Peninsula' 'Port Shelter' 'Laucala Island' 'Sainte-Marie'
 'Great Exuma Island' 'Sainte-Suzanne' 'Tuscany' 'Sea of Japan'
 'Tyrrhenian Sea' 'New Ireland' 'Valpariso Province' 'Manfredonia '
 'Tokyo Prefecture' 'Saint-Louis' 'Adriatic Sea' 'Florida Straits' 'Cádiz'
 'Sicily' 'Andikira Fokithes' 'Central Philippines' 'Northwest Italy'
 'English Channel' 'North & South Carolina' 'Carolina coast'
 'Kumamoto Prefecture' 'Saint-Philippe' 'Chungnam' 'Eronogo Region'
 'Coquimbo' 'Pagasitikos Gulf' "St. Mary's Parish" 'Lamu Archipelago'
 'Los Vilos' 'Island of Kos' "Ha'api" 'Madeira Islands'
 'Ho Ha Wan Marine Park' 'Southern Thailand' 'Ralik Archipelago'
 'South China Sea 200 miles from Hong Kong' 'Reggio Calabria Province'
 'Mirs Bay ' 'Genoa Province' ' Split-Dalmatia County' 'Florida '
 'Aulong Island' 'Western Caroline Islands' 'Upolu Island'
 'Illeginni Atoll' 'Istria County' 'Istria ' 'Khuzestan Province'
 'Inhambe Province' 'Namonuito Atoll' 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'St. Andrew Parish'
 'Limpopo River' 'New Ireland Province' 'Zadar County' 'Basrah'
 'Clarendon' 'Magdalena Department' 'Gulf Province' 'Limón Province'
 'Brindisi Province' 'Kagawa Prefecture' 'Liguria' 'Hamilton'
 'Out Islands' 'Mugla Province' 'Gibraltar' 'New Britain' 'Veracruz'
 'Bay of Maputo' 'Duke of York Islands' 'Primorje-Gorski Kotar County '
 'Taranto province' 'Northern Taiwan' 'Admiralty Islands, Manus Province'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'East of the Gulf of Aqaba'
 'Bougainville (North Solomons)' 'Victoria ' 'Okayama Prefecture'
 'San Blas' 'Lau Group' 'Caribbean Coast' 'Vita Levu' 'San Blas Islands'
 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 ' Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off coast of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago'
 'Off the Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ºS, 142ºE' 'Kwajalein Atoll'
 'Western Luzon Island' 'Shefa Province' '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'Wake Island (EnenKio)' '19S, 178?E'
 'Pennsylvania' 'Roncador Bank' 'Western District'
 'Enroute from Suez to Aden (Yemen)' '180 miles southeast of Okinawa'
 'Eniwetok Atoll' 'Connecticut' 'In the English Channel '
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Pacific coast' 'St. Georges '
 'Eastern  Province' 'Northwest of Viti Levu' 'West New Britain Province'
 'Masbate' '400 miles southeast of Sri Lanka' 'Lomaiviti Province'
 'Kadavu' 'Leyte Island' 'Guerrrero' 'Hokkaido Prefecture' 'North Palawan'
 'Istria' 'Mersin Province' 'Guyamas' 'Between England & South Africa'
 'Mindanao' ' Kikori River mouth' 'South Chungcheong Province'
 'Morobe Province' 'Tutuila Island' 'Primorje-Gorski Kotar County'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 'Canal Zone' 'Honiara' 'Viti Levu' 'Havana Province' 'Karun River'
 'Abau Subdistrict,Central Province' 'New Britain, Bismarck Archipelago'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near the Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'St. Thomas Bay' 'Madeira' 'Between Comores & Madagascar' 'Corfu Island'
 '1000 miles west of Hawaii' 'Izo Islands' ' Primorje-Gorski Kotar County'
 'Open sea' 'Aden' 'New Ireland, Bismarck Archipelago' '18S / 50E'
 'Illinois' 'Isles del Rosario' 'Wake Island' 'Isle of Man'
 'Nagasaki Prefecture' 'Liguaria' 'Slovenia' 'South shore '
 'Buenos Aires Province' 'Gulf of Panama' 'Genoa  Province'
 'Abau Sub District, Central Province' 'Red Sea State' 'Curacao'
 'Port Louis Province' 'Montserrado' 'Bay of Maputu' 'Sofala Province'
 'Salerno' 'Salerno Province' 'Taranto' ' La Libertad' 'Sago Prefecture'
 'Caribbean Sea' 'Southern Province' 'Jakarta Harbour' 'Singapore Harbor'
 'Calabria' 'Shatt-el-Arab River' 'Shatt-al-Arab River'
 'Shat-Al-Arab River' 'Between Kwajalein Atoll & Johnston Island' 'Attica'
 'Adana Province' 'Bandar Ma’shur sea inlet' 'Saipan' 'Carpathian Sea'
 'Kwajalein' 'Dar-es-Salaam ' '"Head of the Gulf"' 'Ryukyu' 'Tel Aviv'
 'Colon Province' '300 miles east of Luzon'
 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Pacific Ocean'
 'Near the Fiji Islands' '40 miles south of Naples '
 'Northwest of Papua New Guinea' 'Between Hawaii and U.S.A.'
 'Off South American coast' 'Makora-Ulawa Province' 'Midway Atoll'
 '300 miles east of St. Thomas (Virgin Islands)' 'East Java'
 'Camiguin Island' 'Cay Sal Bank' '(Southwestern Pacific)' 'Panama City'
 'Off Libya' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'New Georgia' 'Panama Bay (Pacific Ocean)' 'Bwagaoia'
 'Torres Strait ' 'Carabobo' 'Ascension Bay' 'North China'
 'Nicoya Peninsula' 'Basrah City' 'Queensland ' 'Argyll' 'Fishing Grounds'
 'Isle of Wight' 'Makira-Uluwa Province' 'Elqui Province' 'Istanbul'
 'Barlavento Islands' 'Viti Levu Island' 'Bay of Fundy' 'Manila'
 'French Southern Territories' 'Niua ' 'Black River' 'Phoenix Islands'
 'Cienfuegos Province' 'Santiago Island' 'Near Puntarenas' 'Salinas Bay'
 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator ' 'Bay of Monaco' 'Valencia ' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Demerara County' ' Manila Bay' 'Lucy'
 'East Yorkshire' 'Cape Haitien' 'Leyte' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Mediterranean Sea' 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos '
 '5aint-Denis' 'Viti Levu group' 'Balearics' 'Málaga ' 'Georges Bank'
 'Colón Province' 'Andalucia' 'Sfax' 'South Atlantic Ocean' 'Galicia'
 'Gulf of Suez' 'Java' 'Tiburon Peninsula' 'Oaxaca' 'Harare Province'
 'Khánh Hòa Province' 'Maluku Province' 'Suez Canal' ' Nusa Tenggara'
 'Between Noumea & Sydney' 'Villa Clara Province' 'Ancona Province'
 'Quezon' 'Rio San Juan' 'Southern Cyprus' 'Syracuse' 'Western Viscayas'
 'Negros ' 'Imperia Province' 'Muala' 'East coast' 'Vera Cruz'
 'Off Cape Haitien' 'St Michael Parish' 'Moluccas' 'Bocas del Toro'
 'Provence' 'Bay of Campeche' 'Rangoon' 'Bay of Bengal' 'Bayelsa State'
 'South Island?' 'Norfolk Island' 'Woodlark Islands' 'Munxar Reef'
 'Between Perth & Colombo' 'Gujarat' 'Cortés'
 'Somewhere between Philadelphia and Hiogo, Japan' ' New Jersey'
 "Côte d'Azur  " 'Maldonado coast' 'Western Banks' 'West Bengal'
 'Andaman Islands' 'Off the coast of West Africa' 'Misamis Oriental'
 'Strait of Messina' 'Hoogly River' 'Cyclades archipelago' 'Mount Lebanon'
 'Between Hastings & Fairlight, Sussex' 'Veracruz ' 'Gilbert Islands'
 'Newfoundland' 'Lomaiviti Provine' 'Off the coast of South America'
 '22ºN, 88ºE' 'Matanzas Province (north coast)' 'Alpes Maritime'
 'Edinburgh' 'Eastern Catalona' '300 miles east of Mauritius'
 'Foveaux Strait' 'Sumatra' 'Conakry Region' 'Corfu' 'Malaga'
 'Bonin Islands' 'Fernando Po Island' 'Mangaia Island' 'New York '
 'Corfu ' 'Between Australia & USA' 'Tongatapu'
 'Lake Nicaragua (fresh water)' 'Norfolk' 'Island of St. Thomas'
 'Cumberland' 'Sanma Province' "35º39 : 165º8'" 'CUBA' 'Western Area '
 'Paraiba' 'Cape Coast' 'St. Anne' 'St Helena' "Côte d'Azur "
 'Skagerrak arm of the North Sea' 'Las Perlas archipelago'
 'Southwest coast' 'Quebec' 'Kerala' 'Nice & Marseilles'
 'Magarita or Cubagua Islands' 'Yucatan' 'Ionian Sea' 'Piraeus'
 'Off Thessaly' 'Paloma' 'Bocas del Toro Province' 'Rocha ' 'Cyrenaica'
 'Northern Province' 'Los Roques  Islands' 'Dodecanese Islands'
 'Malaita Province' 'South Korea' 'Milne Bay  Province' 'Island of Volos'
 'Amirante Islands' 'Kadavu Island Group' 'Toamasina Province'
 'Riau Province' 'Bikini Atoll' 'Between New Ireland & New Britain'
 'Ba Ria-Vung Tau  Province']

Valores faltantes:
411

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [18]:
# Reemplazar minisculas por mayusculas
df['State'] = df['State'].str.upper()

# Eliminar espacios en las celdas
df['State'] = df['State'].str.strip()

# Reemplazar celdas vacias por NAN
df['State'] = df['State'].replace({''}, 'NaN')

In [19]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Location'].unique())
print("\nValores faltantes:")
print(df['Location'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Bargara Beach' "Old Man's, Waikiki" 'Rainbows, Oahu' ...
 'Ocracoke Inlet' 'Panama Bay 8ºN, 79ºW'
 'Below the English fort, Trincomalee']

Valores faltantes:
488

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [20]:
 # Reemplazar minisculas por mayusculas
df['Location'] = df['Location'].str.upper()

# Eliminar espacios en las celdas
df['Location'] = df['Location'].str.strip()

# Reemplazar celdas vacias por NAN
df['Location'] = df['Location'].replace({''}, 'NaN')

In [21]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Activity'].unique())
print("\nValores faltantes:")
print(df['Activity'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Swimming' 'Surfing' nan ... 'Swimming around anchored ship'
 'Crew swimming alongside their anchored ship' '4 men were bathing']

Valores faltantes:
423

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity     423
Name          67
Sex            0
Age         2445
Injury        17
Died         478
Species     2870
dtype: int64

In [22]:
# Reemplazar minisculas por mayusculas
df['Activity'] = df['Activity'].str.upper()

# Eliminar espacios en las celdas
df['Activity'] = df['Activity'].str.strip()

# Reemplazar celdas vacias por NAN
df['Activity'] = df['Activity'].replace({''}, 'NaN')

# Reemplazar los valores que no sean 'SURFING', 'SWIMMING' o 'FISHING' por NaN
valid_activities = ['SURFING', 'SWIMMING', 'FISHING']
df['Activity'] = df['Activity'].apply(lambda x: x if x in valid_activities else np.nan)

In [33]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Age'].unique())
print("\nValores faltantes:")
print(df['Age'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
[13. nan 11. 46. 32. 29. 10. 64. 62. 39. 22. 15. 16. 21. 66. 52. 20. 44.
 26. 47. 55. 30. 59.  8. 50. 45. 34. 38. 37. 19. 35. 65. 77. 60. 49. 42.
 24. 73. 25. 18. 58. 67. 17. 14.  6. 41. 53. 68. 43. 40. 51. 31. 23. 12.
  9. 36. 63. 71. 48. 70. 57.  7. 28. 33. 61. 74. 27.  3. 56.  5. 54. 86.
 69. 87.  4. 81. 78.  1.]

Valores faltantes:
4424

Valores faltantes por columna:
Date           0
Year           0
Type          16
Country       38
State        386
Location     453
Activity    3742
Name          66
Sex            0
Age         4424
Injury        15
Died         475
Species     2775
dtype: int64

In [32]:
# Eliminar espacios en las celdas
df['Age'] = df['Age'].str.strip()

# Reemplazar celdas vacias por NAN
df['Age'] = df['Age'].replace({''}, 'NaN')

# Convertir la columna 'Age' a numérica, con valores no numéricos convertidos a NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [40]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Injury'].unique())
print("\nValores faltantes:")
print(df['Injury'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['MINOR INJURIES TO BACK, ABDOMEN AND LEGS'
 'NO INJURY, SHARK BIT SURFBOARD' 'LACERATIONS TO LEFT FOOT' ...
 'RIGHT LEG SEVERED AT KNEE.  IN 1796 HE BECAME LORD MAYOR OF LONDON. IN 1778 HE COMMISSIONED  AMERICAN ARTIST, JOHN SINGLETON COPLEY, TO PAINT THE INCIDENT: WATSON AND THE SHARK'
 'FATAL,  PARTIAL REMAINS RECOVERED FROM SHARK’S GUT'
 'HAND AND FOOT SEVERELY BITTEN, SURGICALLY AMPUTATED']

Valores faltantes:
15

Valores faltantes por columna:
Date           0
Year           0
Type          16
Country       38
State        386
Location     453
Activity    3742
Name          66
Sex            0
Age         4424
Injury        15
Died         475
Species     2775
dtype: int64

In [39]:
# Eliminar espacios en las celdas
df['Injury'] = df['Injury'].str.strip()

# Reemplazar celdas vacias por NAN
df['Injury'] = df['Injury'].replace({''}, 'NaN')

# Reemplazar minusculas por mayusculas
df['Injury'] = df['Injury'].str.upper()

### ELIMINAMOS DUPLICADOS

In [24]:
df.duplicated().sum()

3

In [25]:
df.duplicated().any()

True

In [26]:
df.drop_duplicates(inplace=True)

In [27]:
# Valores nulos
df.isnull().sum()

Date           0
Year           2
Type          18
Country       41
State        411
Location     488
Activity    3851
Name          67
Sex            0
Age         2442
Injury        17
Died         478
Species     2868
dtype: int64

### Eliminamos las filas de 1642 para atras

In [28]:
# Eliminar las filas de menos del year 1642
df = df[df['Year'] >= 1642]

In [29]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Died'].unique())
print("\nValores faltantes:")
print(df['Died'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
[nan 'N' 'Y' 'NaN' 2017]

Valores faltantes:
475

Valores faltantes por columna:
Date           0
Year           0
Type          16
Country       38
State        386
Location     453
Activity    3742
Name          66
Sex            0
Age         2328
Injury        15
Died         475
Species     2775
dtype: int64