In [1]:
import pandas as pd

# Cargar el archivo de Excel usando Pandas
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)

In [2]:
# Verificar valores faltantes
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

In [3]:
# # Eliminar columnas: pdf, href formula, href, Case Number.1, Case Number, original order, Unnamed: 21, Unnamed: 22, Source

df.drop(['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22', 'Source'], axis=1, inplace=True)

In [4]:
# Eliminar columnas con más del 50% de valores faltantes
missing_values_threshold = 0.5
df = df.loc[:, df.isnull().mean() < missing_values_threshold]

In [5]:
# Renombrar columna unnamed: 11 por Died
if "Unnamed: 11" in df.columns:
    df.rename(columns={"Unnamed: 11": "Died"}, inplace=True)

In [6]:
# Eliminar filas con más de 5 valores faltantes
df = df.dropna(thresh=len(df.columns) - 5)

In [7]:
# Eliminamos los valores numericos de Sex
df = df[df['Sex'].str.isdigit() == False]

In [8]:
# Modificar Sex los valores nan, Unknown, ., por NAN
df['Sex'] = df['Sex'].replace(['nan', 'Unknown', '.'], 'NaN')

In [9]:
df['Sex'].unique()

array(['F', 'M', ' M', 'M ', 'lli', 'M x 2', 'N', 'NaN'], dtype=object)

In [10]:
filtered_sex = df[~df['Sex'].isin(['M', 'F'])]
filtered_sex

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Died,Species
186,17-Apr-2022,2022.0,Unprovoked,USA,Florida,"Whale Harbor, Islamorada, Monroe County",NaN,male,M,56,Laceration to lower leg,N,NaN
1177,22-Apr-2014,2014.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Swimming,male,M,42,Laceration & puncture wounds to right foot,N,NaN
2202,15-May-2005,2005.0,Unprovoked,AUSTRALIA,Queensland,50 km east of Townsville,Spearfishing,Ben Edelstein,M,NaN,Severe injury to lower leg,N,Blacktip shark
2239,11-Nov-2004,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,38,"Lacerations to hand, knee & thigh",N,5.5 m [18'] white shark
3580,23-Oct-1962,1982.0,Sea Disaster,USA,Carolina coast,NaN,Yacht Trashman capsized in storm,John Lippoth & Mark Adams,M x 2,NaN,FATAL,Y x 2,NaN
5568,11-Jul-1934,1934.0,Watercraft,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,NaN,No injury to occupants Sharks continually foll...,N,"Blue pointer, 11'"
6069,Reported 02-Jun-1908,1908.0,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,NaN,NaN,"Remains of 3 humans recovered from shark, but ...",Y,Allegedly a 33-foot shark
6765,Reported 18-Dec-1801,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,"FATAL, PROVOKED INCIDENT",Y,12' shark