## SHARK ATTACK

### Importamos la base de datos y verificamos los datos

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# Cargar el archivo de Excel usando Pandas
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)

In [3]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Verificar valores faltantes
df.isnull().sum()

Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

### Eliminamos las filas anteriores al año 1700

In [5]:
# Eliminar las filas de menos del year 1700
df = df[df['Year'] >= 1700]

In [6]:
# Verificar valores faltantes
df.isnull().sum()

Date                 0
Year                 0
Type                16
Country             43
State              450
Location           522
Activity           558
Name               215
Sex                569
Age               2862
Injury              28
Unnamed: 11        558
Time              3385
Species           3024
Source              19
pdf                143
href formula       148
href               146
Case Number        144
Case Number.1      145
original order     143
Unnamed: 21       6795
Unnamed: 22       6794
dtype: int64

## Tratamiento de valores nulos

In [7]:
# Eliminar columnas con más del 50% de valores faltantes
missing_values_threshold = 0.5
df = df.loc[:, df.isnull().mean() < missing_values_threshold]

In [8]:
# Eliminar filas con más de 5 valores faltantes
df = df.dropna(thresh=len(df.columns) - 5)

In [9]:
df.isnull().sum()

Date                 0
Year                 0
Type                15
Country             23
State              375
Location           435
Activity           474
Name               138
Sex                478
Age               2709
Injury              19
Unnamed: 11        508
Time              3224
Species           2867
Source              18
pdf                  0
href formula         4
href                 2
Case Number          0
Case Number.1        1
original order       0
dtype: int64

## Eliminamos las columnas que no aportan información para nuestro estudio

In [10]:
# VISUALIZAR EL NOMBRE DE LAS COLUMNAS
print(df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

In [11]:
# Eliminar columnas
df = df.drop(['pdf', 'href formula', 'href', 'Case Number.1', 'Case Number', 'original order', 'Source', 'Name', 'Species ', 'Location', 'Injury', 'Year', 'Time'], axis=1)

In [12]:
print(df.columns)

Index(['Date', 'Type', 'Country', 'State', 'Activity', 'Sex', 'Age',
       'Unnamed: 11'],
      dtype='object')

## Renombrar columnas
La columna unnamed: 11 hace referencia a la mortalidad

In [13]:
# Renombrar columna unnamed: 11 por Died
df.rename(columns={"Unnamed: 11": "Deceased"}, inplace=True)

In [14]:
print(df.columns)

Index(['Date', 'Type', 'Country', 'State', 'Activity', 'Sex', 'Age',
       'Deceased'],
      dtype='object')

## Analisis por columnas

### Columna Country

In [15]:
df['Country'].nunique()

207

In [16]:
df['Country'].unique()

array(['SOUTH AFRICA', 'BAHAMAS', 'USA', 'AUSTRALIA', 'ENGLAND', 'JAPAN',
       'INDONESIA', 'EGYPT', 'JAMAICA', 'BELIZE', 'MALDIVES', 'THAILAND',
       'FRENCH POLYNESIA', 'COLUMBIA', 'NEW ZEALAND', 'MEXICO',
       'COSTA RICA', 'New Zealand', 'BRAZIL',
       'British Overseas Territory', 'CANADA', 'ECUADOR', 'JORDAN',
       'NEW CALEDONIA', 'ST KITTS / NEVIS', 'ST MARTIN', 'SPAIN', 'FIJI',
       'SEYCHELLES', 'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL',
       'CHINA', 'SAMOA', 'IRELAND', 'ITALY', 'COLOMBIA', 'MALAYSIA',
       'LIBYA', nan, 'CUBA', 'MAURITIUS', 'SOLOMON ISLANDS',
       'ST HELENA, British overseas territory', 'COMOROS', 'REUNION',
       'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES',
       'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ATLANTIC OCEAN', 'GREECE',
       'ST. MARTIN', 'FRANCE', 'TRINIDAD & TOBAGO', 'KIRIBATI',
       'DIEGO GARCIA', 'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM',
       'NIGERIA', 'TONGA', 'SCOTLAND', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS',
       'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'YEMEN', 'GULF OF ADEN',
       'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN', 'Seychelles',
       'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA',
       'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS',
       'SENEGAL', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG',
       'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN',
       'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN',
       'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN',
       'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN',
       'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'KUWAIT', 'YEMEN ', 'FALKLAND ISLANDS',
       'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON',
       'BRITISH NEW GUINEA', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU',
       'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'CEYLON',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'MEDITERRANEAN SEA', 'SWEDEN'], dtype=object)

In [17]:
# Reemplazar minisculas por mayusculas
df['Country'] = df['Country'].str.upper()

# Eliminar espacios en las celdas
df['Country'] = df['Country'].str.strip()

In [18]:
df['Country'].nunique()

195

### Columna State

In [19]:
df['State'].nunique()

825

In [20]:
df['State'].unique()

array(['Western Cape Province', nan, 'Hawaii', 'New South Wales',
       'South Carolina', 'Westerm Australia', 'Florida', 'California',
       'Cornwall', 'New York', 'Noirth Carolina', 'Okinawa', 'Bali',
       'Hurghada, Red Sea Governorate', 'Western Australia',
       'Ambergris Cay', 'Georgia', 'Phuket', 'Tahiti', 'Alabama',
       'New Jersey', 'KZN', 'Isla De San Andres', 'South Island',
       'Grand  Bahama Island', 'Queensland', 'Sonora', 'Guanacoste',
       'KwaZulu-Natal', 'Quintana Roo', 'Victoria', 'São Paulo.',
       'North Island', 'Turks and Caicos', 'Louisiana', 'Texas',
       'Nova Scotia', 'Maryland', 'North Carolina', 'Pernambuco',
       'Chanthaburi Province', 'Eastern Cape Province', 'BAHAMAS',
       'Galapagos', 'Aqaba', 'West Sussex', 'Nouville', 'Ambergris Key',
       'Westmoreland Parish', 'Marquesas', 'Loyalty Islands',
       'South Australia', 'Maui', 'The Narrows', 'Raa Atoll', 'Oregon',
       'South Sinai', 'South Province', ' Grand Bahama Island',
       'Franklin County, Florida', 'Virgin Islands', 'Tasmania',
       'Tuamotu Islands', 'Maine', 'Bahamas', 'Delaware', 'Abaco Islands',
       'Muang district of Satun province, ', 'Canary Islands',
       'Vanua Levu', 'Exumas', 'Southland', 'Phang Nga Province',
       'Praslin', 'Central Province', 'Guerrero', 'Moorea', 'Baja ',
       'Saint-Gilles', 'Guam', 'Northern Territory ', 'Cayman Islands',
       'Rhode Island', 'Chatham Islands', 'Quinta Roo',
       'Lucayan Archipelago', 'Bélep Islands', 'Noumea',
       'Fernando de Noronha', 'Liaoning Province', 'New South Wales ',
       'Upolo', 'St. Marys Parish', 'Massachusetts', 'County Cork',
       'Chieti, Province', 'Guizhou Province',
       'San Andres and Providencia Archipelago', 'The Exuma Cays',
       'Colima', 'Hua Hin', 'Cocos Island', 'Alifu Alifu Atoll',
       'New Providence', 'Alagoas', 'Boi Island, Victoria',
       'Galapagos Islands', 'Sepang', 'Holquin Province',
       'Pamplemousses ', ' Upolu Island', 'Shizuoka Prefecture',
       'Castellón', 'Red Sea Protectorate', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island', 'Majorca',
       'Washington', 'Tabasco', 'Anjouan', 'Ibiza Island', 'South Devon',
       'New Providence ', 'Sharjah, ', 'Baja California Sur', 'Saint-Leu',
       'Luzon Island', 'Tamaulipas', 'Saint-Andre', 'Bimini', 'Tuamotos',
       'North Province', 'New Providence Island', 'Alicante Province',
       'Hong Kong', 'Kochi Prefecture', 'Isla Providencia', 'Suez',
       'Grand Terre', 'Boa Vista Island', 'Santa Catarina State',
       'Altagracia Province', 'Grand Cayman', 'Balneário Camboriú',
       'Fujairah Emirate', 'Grand Canary Island', 'Inhambane Province',
       'Alicante', 'Guanacaste', 'Bora Bora', 'Grand Bahama Island',
       'Le Port', 'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia',
       'Sinaloa', 'Central Tuamotu', 'd’Étang-Salé', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Catalonia', 'West End',
       'Atsumi peninsula', 'Palmyra Atoll', 'Wallis and Futuna',
       'Baie de Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
       'Southern District', 'Bay of Biscay', 'Exuma Islands',
       'Saint-Paul', 'Taitung ', 'Kingston Parish', 'Santa Cruz Island',
       'Tuamotus', 'Eleuthera', 'St. Catherine', 'Palawan',
       'Mercury Islands', 'Delta', "Vava'u", 'Inner Hebrides',
       'Saint Leu', 'Trois-Bassins', 'British Colombia', 'Saint-Benoit',
       'Tabuk Province', 'Antofagasta Province', "St John's",
       'Santa Elena', 'East New Britain', 'Bois-Blanc ', 'Moray',
       'Puerto Rico', 'Samaná Province', 'Coast Province',
       'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Sucre',
       'Middle Caicos', 'Caicos Bank', 'San Andrés archipelago', 'Kedah',
       'Umm al Qaywayan Province', 'Vitu Levu', 'South Sinai Peninsula',
       ' Loyalty Islands', 'Saint Gilles ', 'Virginia', "Ha'api ",
       'Western Province', 'Jeju Province', 'Binh Dinh Province',
       'Antsiranana Province', 'Sinai Peninsula', 'Off Vanua Levu',
       'Merizo', 'Rio Grande Do Sul', 'Dubai', 'Torres Strait',
       'Eastern Province', 'Eastern Cape  Province', 'Maputo Province',
       'Bocas', 'Fife', 'Devon', 'Makira-Ulawa Province', 'Mombasa',
       'Catalunya', 'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranhão', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Marovo Lagoon', 'Territory of Cocos (Keeling) Islands',
       'Oslo Fjord', 'Kent', 'Bird Island', 'Providenciales',
       'Bimini Islands', 'Muhafazat Hadramawt', 'Cook islans',
       'Surigao del Norte', 'Between Somalia & Yemen', 'Ambergris Caye',
       'Saint-Pierre', 'Kentucky', 'Andros Islands', 'Western Area',
       '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservatória District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
       'Rio de Janeiro', 'Nueva Esparta', 'North Pacific coast',
       'Caroline Islands', 'Cheshire', 'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Salé-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Miyako', "L'Etang-Sale", 'Chatham Islands ',
       'South Sinai, Gulf of Aqaba', 'Cat Cay', 'Missouri',
       '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis', 'Vava’u',
       'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Kagoshima Prefecture', 'Saint-Joseph',
       'Banaadir Region', 'La Libertad', 'Costa Blanca', 'Walkers Cay',
       'On the Kowloon penisula, south of Sai Kung', 'Ehime Prefecture',
       'Tongapatu Group', 'West Africa', 'Wakaya Island',
       'North Carolina ', 'Mexico / Caribbean Sea', 'Antarctic Ocean',
       'La Saline-les-Bains', 'Sea of Japan', 'Tavenui', 'Ligurian Sea',
       "L'Etang-Salé", 'Kowloon Peninsula', 'Port Shelter',
       'Laucala Island', 'Sainte-Marie', 'Great Exuma Island',
       'Sainte-Suzanne', 'Tuscany', 'Tyrrhenian Sea', 'New Ireland',
       'Valpariso Province', 'Manfredonia ', 'Tokyo Prefecture',
       'Saint-Louis', 'Mindoro', 'Between DR and Puerto Rico',
       'Between Honiara & Isabel Island', 'Florida Straits', 'Cádiz',
       'Sicily', 'Andikira Fokithes', 'Central Philippines',
       'Northwest Italy', 'English Channel', 'North & South Carolina',
       'Carolina coast', 'Kumamoto Prefecture', 'Biserta',
       'Saint-Philippe', 'Chungnam', 'Eronogo Region', 'Coquimbo',
       'Pagasitikos Gulf', "St. Mary's Parish", 'Romblon Province',
       'Lamu Archipelago', 'Los Vilos', 'Island of Kos', "Ha'api",
       'Madeira Islands', 'Ho Ha Wan Marine Park', 'Southern Thailand',
       'Ralik Archipelago', 'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       ' Split-Dalmatia County', 'Florida ',
       'Primorje-Gorski Kotar County ', 'Aulong Island',
       'Western Caroline Islands', 'Upolu Island', 'Antibes',
       'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
       'Istria ', 'Khuzestan Province', 'Inhambe Province',
       'Namonuito Atoll', 'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', 'Limpopo River', 'New Ireland Province',
       'Zadar County', 'Basrah', 'Clarendon', 'Moro Gulf', 'Johor',
       'Magdalena Department', 'Gulf Province', 'Morobe Province',
       'Limón Province', 'Rombion Province', 'Veracruz',
       'Brindisi Province', 'Kagawa Prefecture', 'Liguria', 'Hamilton',
       'Out Islands', 'Mugla Province', 'Gibraltar', 'New Britain',
       'Bay of Maputo', 'Duke of York Islands', 'Taranto province',
       'Northern Taiwan', 'Admiralty Islands, Manus Province',
       'North Sumatra', "250 miles southwest of O'ahu, Hawaii",
       'West coast', 'East Sepik', 'Near Bougainville (North Solomons)',
       'East of the Gulf of Aqaba', 'Bougainville (North Solomons)',
       'Victoria ', 'Okayama Prefecture', 'San Blas', 'Connecticut',
       'Lau Group', 'Caribbean Coast', 'Vita Levu', 'San Blas Islands',
       'Puntarenas Province', 'Lomaloma, Lau',
       'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
       'Santo Domingo', 'San Blas coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province, Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off the Coromandel Peninsula, North Island',
       'Madang', 'Guadalcanal Province', '10ºS, 142ºE', 'Kwajalein Atoll',
       'East Flores', 'Western Luzon Island', 'Shefa Province',
       '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
       '9.35N 79.35W', 'Roncador Bank', 'Western District',
       'Enroute from Suez to Aden (Yemen)',
       '180 miles southeast of Okinawa', 'Eniwetok Atoll',
       'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
       'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
       'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Pacific coast', 'St. Georges ',
       'Eastern  Province', 'Northwest of Viti Levu',
       'West New Britain Province', 'Rigo subdistrict', 'Masbate',
       '400 miles southeast of Sri Lanka', 'Lomaiviti Province', 'Kadavu',
       'Leyte Island', 'Orissa', 'Guerrrero', 'Hokkaido Prefecture',
       'North Palawan', 'Queaon', 'Istria', 'PANAMA',
       'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao',
       ' Kikori River mouth', 'South Chungcheong Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       'Honiara', 'Havana Province', 'Karun River',
       'Abau Subdistrict,Central Province',
       'New Britain, Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
       'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
       'Isles del Rosario', 'Wake Island', 'Isle of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
       'Buenos Aires Province', 'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
       ' La Libertad', 'Sago Prefecture', 'Savona', 'Southern Province',
       'Jakarta Harbour', 'Singapore Harbor', 'Calabria',
       'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Ma’shur sea inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
       '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
       'Colon Province', '300 miles east of Luzon',
       'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte',
       'Lake Nicaragua (fresh water)', 'Pacific Ocean',
       'Near the Fiji Islands', '40 miles south of Naples ',
       'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
       'Makora-Ulawa Province', 'Midway Atoll',
       '300 miles east of St. Thomas (Virgin Islands)',
       'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'Off coast of Ecuador', 'Trelawney Province',
       'In Convoy OB 274', 'New Georgia', 'Panama Bay (Pacific Ocean)',
       'Bwagaoia', 'Western Papuan Gulf', 'Torres Strait ', 'Carabobo',
       'Ascension Bay', 'North China', 'Lower San Juan River',
       'Nicoya Peninsula', 'Basrah City', 'West Bengal', 'Queensland ',
       'Argyllshire', 'Arran', 'Argyll', 'Fishing Grounds',
       'Newfoundland', 'Isle of Wight', 'Makira-Uluwa Province',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
       'French Southern Territories', 'Niua ', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
       'Santiago Island', 'Near Puntarenas', 'Porto Seguro',
       'Salinas Bay', 'Golfo di Genova in the Ligurian Sea',
       'Sants-Montjic', 'South of the Equator ', 'Bay of Monaco',
       'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       ' Manila Bay', 'Lucy', 'East Yorkshire', 'Cape Haitien', 'Leyte',
       'Halifax', 'Turtle Bogue',
       '60 miles north of San Domingo in the West Indies', 'Colon',
       'Off Ireland', 'Mediterranean Sea', 'Gran Canaria',
       'Apolima Strait', 'Essequibo', 'Lagos ', '5aint-Denis',
       'Viti Levu group', 'Balearics', 'Málaga ', 'Georges Bank',
       'Zambesi River', 'Colón Province', '30 nm from Singapore',
       'Andalucia', 'Sfax', 'South Atlantic Ocean', 'Galicia',
       'Gulf of Suez', 'Java', 'Tiburon Peninsula', 'Oaxaca',
       'Harare Province', 'Khánh Hòa Province', 'Maluku Province',
       'Suez Canal', ' Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros ', 'Imperia Province', 'Muala',
       'East coast', 'Ratak ', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas del Toro', 'Provence', 'Bay of Campeche',
       'Rangoon', 'Bay of Bengal', 'Bayelsa State', 'South Island?',
       'Norfolk Island', 'Brittany', 'Line Islands', 'Woodlark Islands',
       'Munxar Reef', 'Between Perth & Colombo', 'Gujarat', 'Cortés',
       'Gulf of California',
       'Somewhere between Philadelphia and Hiogo, Japan', ' New Jersey',
       "Côte d'Azur  ", 'Maldonado coast', 'Western Banks',
       'Andaman Islands', 'Off the coast of West Africa',
       'Misamis Oriental', 'Strait of Messina', 'Hoogly River',
       'Cyclades archipelago', 'Mount Lebanon',
       'Between Hastings & Fairlight, Sussex', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off the coast of South America', '22ºN, 88ºE',
       'Matanzas Province (north coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', '300 miles east of Mauritius',
       'Foveaux Strait', 'Sumatra', 'Conakry Region', 'Corfu', 'Malaga',
       'Bonin Islands', 'Fernando Po Island', 'Mangaia Island',
       'New York ', 'Corfu ', 'Between Australia & USA', 'Tongatapu',
       'Norfolk', 'Island of St. Thomas', 'Sanma Province',
       "35º39 : 165º8'", 'CUBA', 'Western Area ', 'Paraiba', 'Cape Coast',
       'Cumberland', 'Rivers State', 'Maharashtra', 'St. Anne',
       'St Helena', "Côte d'Azur ", 'Skagerrak arm of the North Sea',
       'Las Perlas archipelago', 'Southwest coast'], dtype=object)

In [21]:
# Reemplazar minisculas por mayusculas
df['State'] = df['State'].str.upper()

# Eliminar espacios en las celdas
df['State'] = df['State'].str.strip()

# Reemplazar celdas vacias por NAN
df['State'] = df['State'].replace({''}, 'NaN')

In [22]:
df['State'].nunique()

796

### Columna Activity

In [23]:
df['Activity'].unique()

array(['Swimming', 'Snorkeling', 'Swimming  or Snorkeling', ...,
       "a corsair's boat was overturned", 'Washing himself',
       'Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."'],
      dtype=object)

In [24]:
df['Activity'].value_counts()

Surfing                                                                                                                                                 1089
Swimming                                                                                                                                                 923
Fishing                                                                                                                                                  465
Spearfishing                                                                                                                                             369
Wading                                                                                                                                                   164
                                                                                                                                                        ...
Picking up shark by the tail                                                                                                                               1
Wading & pushing dinghy toward  the shallows                                                                                                               1
Diving. Shark “swallowed’ his hand, so he threw his other around the shark and went “shark-back riding” for 30 yards until the shark opened its jaws       1
Body surfing?                                                                                                                                              1
Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."         1
Name: Activity, Length: 1506, dtype: int64

In [25]:
df['Activity'].isnull().sum()

474

In [26]:
# Reemplazar valores NaN con 'Unknown'
df['Activity'].fillna('Unspecific', inplace=True)

# Convertir todo a minúsculas y eliminar espacios en blanco al inicio y final
df['Activity'] = df['Activity'].str.lower().str.strip()

In [27]:

# Definir una función para aplicar las expresiones regulares
def standardize_activity(activity):
    if re.search(r'swim|swimming', activity):
        return 'swimming'
    elif re.search(r'surf|surfing', activity):
        return 'surfing'
    elif re.search(r'dive|diving|snorkeling', activity):
        return 'diving'
    elif re.search(r'fish|fishing', activity):
        return 'fishing'
    elif re.search(r'kayak|canoe|paddle', activity):
        return 'kayaking'
    elif re.search(r'board|boat', activity):
        return 'boarding'
    elif re.search(r'wade|wading', activity):
        return 'wading'
    else:
        return 'Unspecific'

In [28]:
# Aplicar la función a la columna 'Activity'
df['Activity'] = df['Activity'].apply(standardize_activity)

In [29]:
df['Activity'].value_counts()

Unspecific    1504
surfing       1377
fishing       1179
swimming      1172
diving         679
boarding       340
wading         173
kayaking        99
Name: Activity, dtype: int64

### Columna Sex

In [30]:
df['Sex'].unique()

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [31]:
df['Sex'].isnull().sum()

478

In [32]:
df['Sex'].fillna('Unknown', inplace=True)
df['Sex'] = df['Sex'].str.strip()

In [33]:

dic_remplazos = {'M x 2': 'M', 'lli': 'M', 'N': 'M', '.': 'Unknown'}
# Reemplazar 
df['Sex'] = df['Sex'].replace(dic_remplazos)

In [34]:
df['Sex'].unique()

array(['F', 'M', 'Unknown'], dtype=object)

### Columna Age

In [35]:
df['Age'].isnull().sum()

2709

In [36]:
df['Age'].sample(30)

3908    NaN
2451     15
600      14
6709    NaN
4112     26
1596    NaN
5393    NaN
1895     52
6638    NaN
4519     23
6584    NaN
5034    NaN
5723    NaN
2954     25
4570     25
4292     19
4936    NaN
4331    NaN
3456     22
4869    NaN
4957    NaN
6506    NaN
6518    NaN
3336    NaN
2082      9
4527    NaN
2971     18
2251     40
4131     17
5556     19
Name: Age, dtype: object

In [37]:
# Convertir la columna 'Age' a numérica, con valores no numéricos convertidos a NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [38]:
df['Age'].dtype

dtype('float64')

In [39]:
df['Age'].isnull().sum()

2833

### Columna Deceased

In [40]:
df['Deceased'].unique()

array(['Y', 'N', 'M', 'n', nan, 'Nq', 'F', 'UNKNOWN', 2017, 'Y x 2', ' N',
       'N ', 'y'], dtype=object)

In [41]:
df['Deceased'].isnull().sum()

508

In [42]:
dic_remplazos_Deceased = {'M': 'UNKNOWN','F': 'UNKNOWN', 'Nq': 'UNKNOWN', 'Y x 2': 'Y'}

df['Deceased'] = df['Deceased'].str.strip()

df['Deceased'] = df['Deceased'].replace(dic_remplazos_Deceased)
# Reemplazar minisculas por mayusculas
df['Deceased'] = df['Deceased'].str.upper()

df['Deceased'].fillna('UNKNOWN', inplace=True)

In [43]:
df['Deceased'].unique()

array(['Y', 'N', 'UNKNOWN'], dtype=object)

In [44]:
df['Deceased'].value_counts()

N          4611
Y          1342
UNKNOWN     570
Name: Deceased, dtype: int64

### Columna Date

In [45]:
# Mostrar valores unicos y visualizarlos
df['Date'].sample(30)

6146                    1904
5385                    1941
4165             21-Jan-1967
5135             16-Aug-1949
3940             21-Dec-1972
3647             24-May-1981
4979             22-Jan-1954
2850             10-Aug-1997
5194             14-Nov-1947
3619                    1982
432              20-Dec-2019
1326             31-Dec-2012
555              05-Nov-2018
1636             10-Jun-2010
1604             04-Sep-2010
3590             29-Aug-1982
2603             21-Nov-2000
1816             15-Sep-2008
5843               1923-1924
748     Reported 07-Jun-2017
5078             15-Mar-1951
5043             06-Apr-1952
6573    Reported 18-Sep-1864
2492             15-Mar-2002
6371             18-Oct-1887
5432           Woirld War II
4770             31-Aug-1958
3226             09-Jan-1991
2176             12-Aug-2005
4414             14-Oct-1962
Name: Date, dtype: object

In [46]:
# Eliminar espacios en las celdas

df['Date'] = df['Date'].str.strip()

In [47]:
# Remplazar espacios por guiones
df['Date'] = df['Date'].apply(lambda x: x.replace(' ', '-') if isinstance(x, str) else x)

In [48]:
# Mostrar valores unicos y visualizarlos
df['Date'].sample(30)

662                   12-Jan-2018
1338                  04-Nov-2012
1118                     Sep-2014
2079                  08-Jul-2006
1970                  21-Jul-2007
3851                  20-May-1975
799                   13-Jan-2017
1558                  18-Feb-2011
1023                  24-Jun-2015
5777                  23-Jul-1926
5662                  13-Dec-1930
5704         Reported-17-Apr-1929
4664                  19-Dec-1959
1307                  21-Mar-2013
4676                  10-Nov-1959
3094    Reported------19-Aug-1993
4733                  28-Feb-1959
4878                  22-Jun-1956
4006                  24-Oct-1970
1067                  27-Jan-2015
559                   23-Oct-2018
6298         Reported-22-Jun-1893
5631                         1932
1529                  06-Jun-2011
2304                  14-Mar-2004
1078                  29-Dec-2014
2870                  26-May-1997
1619                  02-Aug-2010
3618                          NaN
6364         Reported-18-Jun-1888
Name: Date, dtype: object

In [49]:
# Función para reemplazar 'Reported-' por 'NaN', 'Late-' por 'NaN', 'Early-' por 'NaN'

df['Date'] = df['Date'].str.replace('^(Reported-|Late-|Early-)', '', regex=True)

In [50]:
# Function to remove the day if the length of the split parts is 3 (i.e., day, month, year)
def quitar_dia(x):
    parts = x.split('-')
    if len(parts) == 3:
        return '-'.join(parts[1:])  # Return the string without the first element (the day)
    return x  # Return the original string if it's not in the expected format

In [51]:
df['Date'] = df['Date'].apply(lambda x: quitar_dia(x) if isinstance(x, str) else x)

In [52]:
df['Date'].sample(30)

5544      Mar-1935
6587      Sep-1863
3177      Mar-1992
743     2017.06.05
914       Mar-2016
2147      Nov-2005
1410      May-2012
6320      Dec-1891
2506      Nov-2001
735       Jul-2017
3660      Feb-1981
3525      Jan-1984
823       Oct-2016
790       Feb-2017
6420      Feb-1883
1848      Jul-2008
1238      Sep-2013
4122      Dec-1967
6251      Dec-1896
6114      Feb-1906
4118           NaN
5473      Aug-1937
4854      Oct-1956
6233          1898
3452      Dec-1985
4204      May-1966
4789      Apr-1958
5305      May-1943
1038    20-May2015
3041      Jul-1994
Name: Date, dtype: object

In [53]:
df['Date'] = pd.to_datetime(df['Date'],format ='%b-%Y', errors='coerce')

In [54]:
df.dtypes

Date        datetime64[ns]
Type                object
Country             object
State               object
Activity            object
Sex                 object
Age                float64
Deceased            object
dtype: object

In [55]:
df['Date'].sample(30)

4015   1970-07-01
1404   2012-05-01
4206   1966-05-01
6086   1907-07-01
4191   1966-08-01
4308   1964-06-01
6546   1870-06-01
6505          NaT
4360   1963-11-01
1383   2012-07-01
5662   1930-12-01
4758   1958-12-01
3734   1978-10-01
634    2018-04-01
1278   2013-06-01
1812   2008-10-01
5634   1931-09-01
2011   2007-03-01
696    2017-09-01
2919   1996-05-01
4300   1964-07-01
1162   2014-06-01
4677   1959-11-01
1818   2008-09-01
4178   1966-09-01
6021   1911-05-01
193    2022-03-01
5133   1949-08-01
2909   1996-07-01
6090   1907-03-01
Name: Date, dtype: datetime64[ns]

In [56]:
df['Date'].isna().sum()

468

## Estudiar duplicados

In [59]:
df.duplicated().sum()

0

In [60]:
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True)

In [61]:
df.duplicated().sum()

0

## Guardar en CSV

In [63]:
df.to_csv('clean_data.csv', index=False)