## SHARK ATTACK

### Importamos la base de datos y verificamos los datos

In [1]:
#pip install pycountry

In [2]:
import pandas as pd
import numpy as np
import re
import pycountry

In [3]:
# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [4]:
# Cargar el archivo de Excel usando Pandas
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)

In [5]:
# Verificar el DataFrame
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",NaN,16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Verificar valores faltantes
df.isnull().sum()

Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6944 non-null   object
 1   Year            6942 non-null   float64
 2   Type            6926 non-null   object
 3   Country         6894 non-null   object
 4   State           6462 non-null   object
 5   Location        6379 non-null   object
 6   Activity        6358 non-null   object
 7   Name            6724 non-null   object
 8   Sex             6365 non-null   object
 9   Age             3950 non-null   object
 10  Injury          6909 non-null   object
 11  Unnamed: 11     6382 non-null   object
 12  Time            3418 non-null   object
 13  Species         3812 non-null   object
 14  Source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

### Eliminamos las filas anteriores al año 1700

In [8]:
# Observamos los datos anteriores a 1700
df[df['Year'] <= 1700].sample(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
6934,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
6826,Before 2016,0.0,Unprovoked,KENYA,Mombasa,Kilindini,Diving,Hamisi Njenga,M,NaN,FATAL,Y,NaN,NaN,eadestination,ND-0152-Kenya.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0152,ND-0152,119.0,NaN,NaN
6840,Before 2011,0.0,Unprovoked,SUDAN,Red Sea State,NaN,Snorkeling,female,F,NaN,Leg severely bitten,N,NaN,NaN,"E. Ritter, GSAF",ND-0127-Sudan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0127,ND-0127,105.0,NaN,NaN
6906,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River","Standing, washing rear wheels of his ambulance...",I.A.S. C. driver,M,NaN,"FATAL, fell into water when shark seized his r...",Y,NaN,NaN,"Lt.Col. R.S. Hunt, p.79",ND-0039-AmbulanceDriver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0039,ND.0039,39.0,NaN,NaN
6925,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,N,NaN,NaN,"T. Helm, p.219",ND-0019-Kelley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0019,ND.0019,20.0,NaN,NaN
6833,Before 1909,0.0,Unprovoked,AUSTRALIA,Queensland,Moreton Bay,Fell into the water,Lieutenant Hexton,M,NaN,FATAL,Y,NaN,NaN,"Brisbane Courier, 1/28/1909",ND-0138-Hexton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0138,ND-0138,112.0,NaN,NaN
6924,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.241",ND-0020-3JapaneseDivers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0020,ND.0020,21.0,NaN,NaN
6903,"""Before the war""",0.0,Unprovoked,AUSTRALIA,Torres Strait,Thursday Island?,Free diving,Mortakee,M,NaN,Head bitten,N,NaN,NaN,Press clipping dated 6/28/1950,ND-0042-Mortakee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0042,ND.0042,42.0,NaN,NaN
6848,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,NaN,Hand severed,N,NaN,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN
6894,Before 1958,0.0,Unprovoked,INDIA,Maharashtra,"Malwan, near Ratnagiri",NaN,male,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.261",ND-0053-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0053,ND.0053,51.0,NaN,NaN

Los datos de fechas en los casos más antiguos son un caos y faltan bastantes datos. Por eso tomamos la decisión de eliminar los datos anteriores a 1700.

In [9]:
# Eliminar las filas anteriores a 1700
df = df[df['Year'] >= 1700]

In [10]:
# Verificar valores faltantes
df.isnull().sum()

Date                 0
Year                 0
Type                16
Country             43
State              450
Location           522
Activity           558
Name               215
Sex                569
Age               2862
Injury              28
Unnamed: 11        558
Time              3385
Species           3024
Source              19
pdf                143
href formula       148
href               146
Case Number        144
Case Number.1      145
original order     143
Unnamed: 21       6795
Unnamed: 22       6794
dtype: int64

## Tratamiento de valores nulos

Lo primero es eliminar las columnas que tienen más del 50% de valores nulos y las filas con muchos valores nulos.

In [11]:
# Eliminar columnas con más del 50% de valores faltantes
missing_values_threshold = 0.5
df = df.loc[:, df.isnull().mean() < missing_values_threshold]

In [12]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

In [13]:
# Eliminar filas con más de 5 valores faltantes
df = df.dropna(thresh=len(df.columns) - 5)

In [14]:
df.isnull().sum()

Date                 0
Year                 0
Type                15
Country             23
State              375
Location           435
Activity           474
Name               138
Sex                478
Age               2709
Injury              19
Unnamed: 11        508
Time              3224
Species           2867
Source              18
pdf                  0
href formula         4
href                 2
Case Number          0
Case Number.1        1
original order       0
dtype: int64

## Eliminamos las columnas que no aportan información para nuestro estudio

In [15]:
# VISUALIZAR EL NOMBRE DE LAS COLUMNAS
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

Eliminamos columnas como ‘pdf’, 'href', 'Case Number', 'original order', etc., que no aportan información útil para el estudio. También hay otras columnas que podrían aportar información interesante, pero debido a que los datos están recogidos sin ninguna estructura o que la mayoría son nulos, no podemos utilizarlas. Por eso eliminamos columnas como 'Injury', 'Species ', 'Source', etc.

In [16]:
# Eliminar columnas
df = df.drop(['pdf', 'href formula', 'href', 'Case Number.1', 'Case Number', 'original order', 'Source', 'Name', 'Species ', 'Location', 'Injury', 'Year', 'Time', 'Type'], axis=1)

In [17]:
df.columns

Index(['Date', 'Country', 'State', 'Activity', 'Sex', 'Age', 'Unnamed: 11'], dtype='object')

## Renombrar columna
La columna unnamed: 11 hace referencia a la mortalidad del ataque. Le ponemos un nombre que tenga sentido.

In [18]:
# Renombrar columna unnamed: 11 por Died
df.rename(columns={"Unnamed: 11": "Deceased"}, inplace=True)

In [19]:
df.columns

Index(['Date', 'Country', 'State', 'Activity', 'Sex', 'Age', 'Deceased'], dtype='object')

## Análisis por columnas

Procedemos a estudiar los valores únicos de cada columna e intentamos estandarizar lo máximo posible. Tratamos los nulos de la forma que mejor consideremos y se transforman los datos al tipo que necesitemos para el posterior análisis.

### Columna Country

In [20]:
# CANTIDAD DE VALORES UNICOS
df['Country'].nunique()

207

In [21]:
# VALORES UNICOS
df['Country'].unique()

array(['SOUTH AFRICA', 'BAHAMAS', 'USA', 'AUSTRALIA', 'ENGLAND', 'JAPAN',
       'INDONESIA', 'EGYPT', 'JAMAICA', 'BELIZE', 'MALDIVES', 'THAILAND',
       'FRENCH POLYNESIA', 'COLUMBIA', 'NEW ZEALAND', 'MEXICO',
       'COSTA RICA', 'New Zealand', 'BRAZIL',
       'British Overseas Territory', 'CANADA', 'ECUADOR', 'JORDAN',
       'NEW CALEDONIA', 'ST KITTS / NEVIS', 'ST MARTIN', 'SPAIN', 'FIJI',
       'SEYCHELLES', 'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL',
       'CHINA', 'SAMOA', 'IRELAND', 'ITALY', 'COLOMBIA', 'MALAYSIA',
       'LIBYA', nan, 'CUBA', 'MAURITIUS', 'SOLOMON ISLANDS',
       'ST HELENA, British overseas territory', 'COMOROS', 'REUNION',
       'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES',
       'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ATLANTIC OCEAN', 'GREECE',
       'ST. MARTIN', 'FRANCE', 'TRINIDAD & TOBAGO', 'KIRIBATI',
       'DIEGO GARCIA', 'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM',
       'NIGERIA', 'TONGA', 'SCOTLAND', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS',
       'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'YEMEN', 'GULF OF ADEN',
       'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN', 'Seychelles',
       'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA',
       'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS',
       'SENEGAL', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG',
       'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN',
       'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN',
       'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN',
       'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN',
       'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'KUWAIT', 'YEMEN ', 'FALKLAND ISLANDS',
       'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON',
       'BRITISH NEW GUINEA', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU',
       'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'CEYLON',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'MEDITERRANEAN SEA', 'SWEDEN'], dtype=object)

Aplicamos varias técnicas para intentar estandarizar el nombre de los países, por si hay algunas opciones que hacen referencia al mismo país.

In [22]:
df['Country'].isnull().sum()

23

In [23]:
# Reemplazar minisculas por minusculas
df['Country'] = df['Country'].str.lower()

# Eliminar espacios en las celdas
df['Country'] = df['Country'].str.strip()

# Reemplazar '?' por ''
df['Country'] = df['Country'].str.replace('?', '')

C:\Users\Laura Ortiz\AppData\Local\Temp\ipykernel_24728\269342119.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Country'] = df['Country'].str.replace('?', '')

In [24]:
df['Country'].nunique()

193

In [25]:
def estandarizar_pais(pais):
    try:
        # Buscar por nombre
        return pycountry.countries.lookup(pais).name
    except LookupError:
        return 'Unknown'

In [26]:
df['standarized_country'] = df['Country'].apply(estandarizar_pais)

In [27]:
df['standarized_country'].nunique()

117

In [28]:
df['standarized_country'].unique()

array(['South Africa', 'Bahamas', 'United States', 'Australia', 'Unknown',
       'Japan', 'Indonesia', 'Egypt', 'Jamaica', 'Belize', 'Maldives',
       'Thailand', 'French Polynesia', 'New Zealand', 'Mexico',
       'Costa Rica', 'Brazil', 'Canada', 'Ecuador', 'Jordan',
       'New Caledonia', 'Spain', 'Fiji', 'Seychelles', 'Papua New Guinea',
       'Israel', 'China', 'Samoa', 'Ireland', 'Italy', 'Colombia',
       'Malaysia', 'Libya', 'Cuba', 'Mauritius', 'Solomon Islands',
       'Comoros', 'United Kingdom', 'United Arab Emirates', 'Philippines',
       'Dominican Republic', 'Cayman Islands', 'Aruba', 'Mozambique',
       'Puerto Rico', 'Greece', 'France', 'Kiribati',
       'Taiwan, Province of China', 'Guam', 'Nigeria', 'Tonga', 'Croatia',
       'Saudi Arabia', 'Chile', 'Kenya', 'Korea, Republic of', 'Malta',
       'Viet Nam', 'Madagascar', 'Panama', 'Somalia',
       'Virgin Islands, British', 'Norway', 'Yemen', 'Sierra Leone',
       'Liberia', 'Vanuatu', 'Honduras',
       'Venezuela, Bolivarian Republic of', 'Sri Lanka', 'Uruguay',
       'India', 'Tanzania, United Republic of', 'Marshall Islands',
       'Senegal', 'Hong Kong', 'El Salvador', 'Angola', 'Bermuda',
       'Montenegro', 'Iran, Islamic Republic of', 'Tunisia', 'Namibia',
       'Portugal', 'Palau', 'Grenada', 'Iraq', 'Singapore', 'Sudan',
       'Micronesia, Federated States of', 'Nicaragua', 'American Samoa',
       'Gabon', 'Mayotte', 'Argentina', 'Martinique', 'Guatemala',
       'Northern Mariana Islands', 'Slovenia', 'Iceland', 'Barbados',
       'Monaco', 'Guyana', 'Haiti', 'Kuwait', 'Cyprus', 'Lebanon',
       'Georgia', 'Syrian Arab Republic', 'Tuvalu', 'Guinea',
       'Cook Islands', 'Peru', 'Algeria', 'Ghana', 'Sweden'], dtype=object)

In [29]:
desconocidos = df[['Country', 'standarized_country']][df['standarized_country'] == 'Unknown']

In [30]:
desconocidos.shape

(313, 2)

In [31]:
desconocidos.sample(30)

                                    Country standarized_country
6595                                 ceylon             Unknown
6653                         atlantic ocean             Unknown
2957                                reunion             Unknown
2155                           grand cayman             Unknown
6057                                    NaN             Unknown
5363                   south atlantic ocean             Unknown
1998                         turks & caicos             Unknown
1524                                reunion             Unknown
723   st helena, british overseas territory             Unknown
6423                          pacific ocean             Unknown
5014                           indian ocean             Unknown
4288                                    NaN             Unknown
5170                     mid atlantic ocean             Unknown
2691                                reunion             Unknown
1509                                reunion             Unknown
3645                                england             Unknown
2588                          caribbean sea             Unknown
6693                        coast of africa             Unknown
4272                                red sea             Unknown
1514                                reunion             Unknown
6630                                    NaN             Unknown
1865                               scotland             Unknown
6436                         atlantic ocean             Unknown
4419                   south atlantic ocean             Unknown
5471                               scotland             Unknown
5295                          pacific ocean             Unknown
4749                         atlantic ocean             Unknown
4413                      admiralty islands             Unknown
4249                    south pacific ocean             Unknown
3056                                reunion             Unknown

In [32]:
df['standarized_country'].nunique()

117

In [33]:
df['standarized_country'].sample(30)

4781             Bahamas
3942             Unknown
1867              Brazil
2960       United States
615                Egypt
2294               Tonga
6320         New Zealand
2487       United States
3306       United States
4886           Australia
3123               Tonga
4140               Italy
5428    Papua New Guinea
3743       United States
427           Seychelles
4192       United States
3790       United States
4715              Mexico
3225           Australia
6207             Bahamas
3006       United States
1106       United States
5830           Australia
2825        South Africa
2766       United States
6432           Australia
746            Australia
6562              Mexico
5485           Australia
386        United States
Name: standarized_country, dtype: object

In [34]:
mapeo_paises = {
    'burma': 'Myanmar',
    'reunion': 'Reunion',
    'reunion island': 'Reunion',
    'north pacific ocean': 'North Pacific Ocean',
    'okinawa': 'Japan',
    'turkey': 'Turkey',
    'st helena, british overseas territory': 'United Kingdom',
    'falkland islands': 'United Kingdom',
    'andaman / nicobar islands': 'India',
    'new britain': 'Papua New Guinea',
    'england': 'United Kingdom',
    'st martin': 'Saint Martin',
    'scotland': 'United Kingdom',
    'maldive islands': 'Maldives',
    'the balkans': 'Balkans',
    'atlantic ocean': 'Atlantic Ocean',
    'ceylon': 'Sri Lanka',
    'pacific ocean': 'Pacific Ocean',
    'north atlantic ocean': 'North Atlantic Ocean',
    'italy / croatia': 'Italy',
    'caribbean sea': 'Caribbean',
    'admiralty islands': 'Papua New Guinea',
    'russia': 'Russia',
    'micronesia': 'Micronesia',
    'persian gulf': 'Persian Gulf',
    'iran / iraq': 'Iran',
    'tobago': 'Trinidad and Tobago',
    'south atlantic ocean': 'South Atlantic Ocean',
    'new guinea': 'Papua New Guinea',
    'turks & caicos': 'Turks and Caicos Islands',
    'san domingo': 'Dominican Republic',
    'british isles': 'United Kingdom',
    'red sea': 'Red Sea',
    'indian ocean': 'Indian Ocean',
    'trinidad & tobago': 'Trinidad and Tobago',
    'columbia': 'Colombia',  
    'egypt / israel': 'Egypt',
    'cape verde': 'Cape Verde',
    'west indies': 'Caribbean',  
    'crete': 'Greece',  
    'nevis': 'Saint Kitts and Nevis',  
    'british west indies': 'Caribbean',  
    'mid atlantic ocean': 'Mid Atlantic Ocean',  
    'central pacific': 'Central Pacific Ocean',  
    'british new guinea': 'Papua New Guinea',  
    'diego garcia': 'British Indian Ocean Territory',  
    'st. martin': 'Saint Martin',  
    'curacao': 'Curaçao',  
    'grand cayman': 'Cayman Islands', 
    'gulf of aden': 'Gulf of Aden',  
    'southwest pacific ocean': 'Southwest Pacific Ocean', 
    'johnston island': 'United States', 
    'western samoa': 'Samoa',  
    'st. maartin': 'Saint Martin',  
    'united arab emirates (uae)': 'United Arab Emirates',  
    'northern arabian sea': 'Northern Arabian Sea',  
    'red sea / indian ocean': 'Red Sea',
    'solomon islands / vanuatu': 'Solomon Islands',
    'south pacific ocean': 'South Pacific Ocean',
    'azores': 'Portugal',
    'bay of bengal': 'Bay of Bengal',
    'tasman sea': 'Tasman Sea',
    'netherlands antilles': 'Curaçao',
    'palestinian territories': 'Palestinian Territories',
    'st kitts / nevis': 'Saint Kitts and Nevis',
    'mid-pacific ocean': 'Mid-Pacific Ocean',
    'south china sea': 'China',
    'java': 'Indonesia',
    'antigua': 'Antigua and Barbuda',
    'equatorial guinea / cameroon': 'Equatorial Guinea',
}

In [35]:
df['standarized_country'] = df['Country'].map(mapeo_paises).fillna(df['standarized_country'])

In [36]:
desconocidos = df[['Country', 'standarized_country']][df['standarized_country'] == 'Unknown']

In [37]:
desconocidos.shape

(32, 2)

In [38]:
df['standarized_country'].isnull().sum()

0

In [39]:
df

,Date,Country,State,Activity,Sex,Age,Deceased,standarized_country
138,25-Sep-2022,south africa,Western Cape Province,Swimming,F,39,Y,South Africa
140,06-Sep-2022,bahamas,NaN,Snorkeling,F,58,Y,Bahamas
141,03-Sep-2022,usa,Hawaii,Swimming or Snorkeling,F,51,N,United States
142,31-Aug-2022,australia,New South Wales,Surfing,M,14,N,Australia
143,17-Aug-2022,australia,New South Wales,Kayaking,M,NaN,N,Australia
...,...,...,...,...,...,...,...,...
6793,June 1721,italy,Sardinia,Swimming,M,NaN,Y,Italy
6794,26-Mar-1703,barbados,Southwest coast,Swimming,M,19,N,Barbados
6795,1700s,france,NaN,NaN,M,NaN,Y,France
6796,1700s,france,Côte d'Azur,Bathing,M,NaN,N,France
6797,1700s,barbados,NaN,Bathing,M,NaN,Y,Barbados

### Columna State
Aplicamos varias técnicas para intentar estandarizar el nombre de los estados.

In [40]:
df['State'].nunique()

825

In [41]:
df['State'].unique()

array(['Western Cape Province', nan, 'Hawaii', 'New South Wales',
       'South Carolina', 'Westerm Australia', 'Florida', 'California',
       'Cornwall', 'New York', 'Noirth Carolina', 'Okinawa', 'Bali',
       'Hurghada, Red Sea Governorate', 'Western Australia',
       'Ambergris Cay', 'Georgia', 'Phuket', 'Tahiti', 'Alabama',
       'New Jersey', 'KZN', 'Isla De San Andres', 'South Island',
       'Grand  Bahama Island', 'Queensland', 'Sonora', 'Guanacoste',
       'KwaZulu-Natal', 'Quintana Roo', 'Victoria', 'São Paulo.',
       'North Island', 'Turks and Caicos', 'Louisiana', 'Texas',
       'Nova Scotia', 'Maryland', 'North Carolina', 'Pernambuco',
       'Chanthaburi Province', 'Eastern Cape Province', 'BAHAMAS',
       'Galapagos', 'Aqaba', 'West Sussex', 'Nouville', 'Ambergris Key',
       'Westmoreland Parish', 'Marquesas', 'Loyalty Islands',
       'South Australia', 'Maui', 'The Narrows', 'Raa Atoll', 'Oregon',
       'South Sinai', 'South Province', ' Grand Bahama Island',
       'Franklin County, Florida', 'Virgin Islands', 'Tasmania',
       'Tuamotu Islands', 'Maine', 'Bahamas', 'Delaware', 'Abaco Islands',
       'Muang district of Satun province, ', 'Canary Islands',
       'Vanua Levu', 'Exumas', 'Southland', 'Phang Nga Province',
       'Praslin', 'Central Province', 'Guerrero', 'Moorea', 'Baja ',
       'Saint-Gilles', 'Guam', 'Northern Territory ', 'Cayman Islands',
       'Rhode Island', 'Chatham Islands', 'Quinta Roo',
       'Lucayan Archipelago', 'Bélep Islands', 'Noumea',
       'Fernando de Noronha', 'Liaoning Province', 'New South Wales ',
       'Upolo', 'St. Marys Parish', 'Massachusetts', 'County Cork',
       'Chieti, Province', 'Guizhou Province',
       'San Andres and Providencia Archipelago', 'The Exuma Cays',
       'Colima', 'Hua Hin', 'Cocos Island', 'Alifu Alifu Atoll',
       'New Providence', 'Alagoas', 'Boi Island, Victoria',
       'Galapagos Islands', 'Sepang', 'Holquin Province',
       'Pamplemousses ', ' Upolu Island', 'Shizuoka Prefecture',
       'Castellón', 'Red Sea Protectorate', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island', 'Majorca',
       'Washington', 'Tabasco', 'Anjouan', 'Ibiza Island', 'South Devon',
       'New Providence ', 'Sharjah, ', 'Baja California Sur', 'Saint-Leu',
       'Luzon Island', 'Tamaulipas', 'Saint-Andre', 'Bimini', 'Tuamotos',
       'North Province', 'New Providence Island', 'Alicante Province',
       'Hong Kong', 'Kochi Prefecture', 'Isla Providencia', 'Suez',
       'Grand Terre', 'Boa Vista Island', 'Santa Catarina State',
       'Altagracia Province', 'Grand Cayman', 'Balneário Camboriú',
       'Fujairah Emirate', 'Grand Canary Island', 'Inhambane Province',
       'Alicante', 'Guanacaste', 'Bora Bora', 'Grand Bahama Island',
       'Le Port', 'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia',
       'Sinaloa', 'Central Tuamotu', 'd’Étang-Salé', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Catalonia', 'West End',
       'Atsumi peninsula', 'Palmyra Atoll', 'Wallis and Futuna',
       'Baie de Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
       'Southern District', 'Bay of Biscay', 'Exuma Islands',
       'Saint-Paul', 'Taitung ', 'Kingston Parish', 'Santa Cruz Island',
       'Tuamotus', 'Eleuthera', 'St. Catherine', 'Palawan',
       'Mercury Islands', 'Delta', "Vava'u", 'Inner Hebrides',
       'Saint Leu', 'Trois-Bassins', 'British Colombia', 'Saint-Benoit',
       'Tabuk Province', 'Antofagasta Province', "St John's",
       'Santa Elena', 'East New Britain', 'Bois-Blanc ', 'Moray',
       'Puerto Rico', 'Samaná Province', 'Coast Province',
       'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Sucre',
       'Middle Caicos', 'Caicos Bank', 'San Andrés archipelago', 'Kedah',
       'Umm al Qaywayan Province', 'Vitu Levu', 'South Sinai Peninsula',
       ' Loyalty Islands', 'Saint Gilles ', 'Virginia', "Ha'api ",
       'Western Province', 'Jeju Province', 'Binh Dinh Province',
       'Antsiranana Province', 'Sinai Peninsula', 'Off Vanua Levu',
       'Merizo', 'Rio Grande Do Sul', 'Dubai', 'Torres Strait',
       'Eastern Province', 'Eastern Cape  Province', 'Maputo Province',
       'Bocas', 'Fife', 'Devon', 'Makira-Ulawa Province', 'Mombasa',
       'Catalunya', 'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranhão', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Marovo Lagoon', 'Territory of Cocos (Keeling) Islands',
       'Oslo Fjord', 'Kent', 'Bird Island', 'Providenciales',
       'Bimini Islands', 'Muhafazat Hadramawt', 'Cook islans',
       'Surigao del Norte', 'Between Somalia & Yemen', 'Ambergris Caye',
       'Saint-Pierre', 'Kentucky', 'Andros Islands', 'Western Area',
       '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservatória District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
       'Rio de Janeiro', 'Nueva Esparta', 'North Pacific coast',
       'Caroline Islands', 'Cheshire', 'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Salé-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Miyako', "L'Etang-Sale", 'Chatham Islands ',
       'South Sinai, Gulf of Aqaba', 'Cat Cay', 'Missouri',
       '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis', 'Vava’u',
       'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Kagoshima Prefecture', 'Saint-Joseph',
       'Banaadir Region', 'La Libertad', 'Costa Blanca', 'Walkers Cay',
       'On the Kowloon penisula, south of Sai Kung', 'Ehime Prefecture',
       'Tongapatu Group', 'West Africa', 'Wakaya Island',
       'North Carolina ', 'Mexico / Caribbean Sea', 'Antarctic Ocean',
       'La Saline-les-Bains', 'Sea of Japan', 'Tavenui', 'Ligurian Sea',
       "L'Etang-Salé", 'Kowloon Peninsula', 'Port Shelter',
       'Laucala Island', 'Sainte-Marie', 'Great Exuma Island',
       'Sainte-Suzanne', 'Tuscany', 'Tyrrhenian Sea', 'New Ireland',
       'Valpariso Province', 'Manfredonia ', 'Tokyo Prefecture',
       'Saint-Louis', 'Mindoro', 'Between DR and Puerto Rico',
       'Between Honiara & Isabel Island', 'Florida Straits', 'Cádiz',
       'Sicily', 'Andikira Fokithes', 'Central Philippines',
       'Northwest Italy', 'English Channel', 'North & South Carolina',
       'Carolina coast', 'Kumamoto Prefecture', 'Biserta',
       'Saint-Philippe', 'Chungnam', 'Eronogo Region', 'Coquimbo',
       'Pagasitikos Gulf', "St. Mary's Parish", 'Romblon Province',
       'Lamu Archipelago', 'Los Vilos', 'Island of Kos', "Ha'api",
       'Madeira Islands', 'Ho Ha Wan Marine Park', 'Southern Thailand',
       'Ralik Archipelago', 'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       ' Split-Dalmatia County', 'Florida ',
       'Primorje-Gorski Kotar County ', 'Aulong Island',
       'Western Caroline Islands', 'Upolu Island', 'Antibes',
       'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
       'Istria ', 'Khuzestan Province', 'Inhambe Province',
       'Namonuito Atoll', 'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', 'Limpopo River', 'New Ireland Province',
       'Zadar County', 'Basrah', 'Clarendon', 'Moro Gulf', 'Johor',
       'Magdalena Department', 'Gulf Province', 'Morobe Province',
       'Limón Province', 'Rombion Province', 'Veracruz',
       'Brindisi Province', 'Kagawa Prefecture', 'Liguria', 'Hamilton',
       'Out Islands', 'Mugla Province', 'Gibraltar', 'New Britain',
       'Bay of Maputo', 'Duke of York Islands', 'Taranto province',
       'Northern Taiwan', 'Admiralty Islands, Manus Province',
       'North Sumatra', "250 miles southwest of O'ahu, Hawaii",
       'West coast', 'East Sepik', 'Near Bougainville (North Solomons)',
       'East of the Gulf of Aqaba', 'Bougainville (North Solomons)',
       'Victoria ', 'Okayama Prefecture', 'San Blas', 'Connecticut',
       'Lau Group', 'Caribbean Coast', 'Vita Levu', 'San Blas Islands',
       'Puntarenas Province', 'Lomaloma, Lau',
       'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
       'Santo Domingo', 'San Blas coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province, Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off the Coromandel Peninsula, North Island',
       'Madang', 'Guadalcanal Province', '10ºS, 142ºE', 'Kwajalein Atoll',
       'East Flores', 'Western Luzon Island', 'Shefa Province',
       '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
       '9.35N 79.35W', 'Roncador Bank', 'Western District',
       'Enroute from Suez to Aden (Yemen)',
       '180 miles southeast of Okinawa', 'Eniwetok Atoll',
       'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
       'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
       'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Pacific coast', 'St. Georges ',
       'Eastern  Province', 'Northwest of Viti Levu',
       'West New Britain Province', 'Rigo subdistrict', 'Masbate',
       '400 miles southeast of Sri Lanka', 'Lomaiviti Province', 'Kadavu',
       'Leyte Island', 'Orissa', 'Guerrrero', 'Hokkaido Prefecture',
       'North Palawan', 'Queaon', 'Istria', 'PANAMA',
       'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao',
       ' Kikori River mouth', 'South Chungcheong Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       'Honiara', 'Havana Province', 'Karun River',
       'Abau Subdistrict,Central Province',
       'New Britain, Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
       'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
       'Isles del Rosario', 'Wake Island', 'Isle of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
       'Buenos Aires Province', 'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
       ' La Libertad', 'Sago Prefecture', 'Savona', 'Southern Province',
       'Jakarta Harbour', 'Singapore Harbor', 'Calabria',
       'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Ma’shur sea inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
       '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
       'Colon Province', '300 miles east of Luzon',
       'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte',
       'Lake Nicaragua (fresh water)', 'Pacific Ocean',
       'Near the Fiji Islands', '40 miles south of Naples ',
       'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
       'Makora-Ulawa Province', 'Midway Atoll',
       '300 miles east of St. Thomas (Virgin Islands)',
       'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'Off coast of Ecuador', 'Trelawney Province',
       'In Convoy OB 274', 'New Georgia', 'Panama Bay (Pacific Ocean)',
       'Bwagaoia', 'Western Papuan Gulf', 'Torres Strait ', 'Carabobo',
       'Ascension Bay', 'North China', 'Lower San Juan River',
       'Nicoya Peninsula', 'Basrah City', 'West Bengal', 'Queensland ',
       'Argyllshire', 'Arran', 'Argyll', 'Fishing Grounds',
       'Newfoundland', 'Isle of Wight', 'Makira-Uluwa Province',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
       'French Southern Territories', 'Niua ', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
       'Santiago Island', 'Near Puntarenas', 'Porto Seguro',
       'Salinas Bay', 'Golfo di Genova in the Ligurian Sea',
       'Sants-Montjic', 'South of the Equator ', 'Bay of Monaco',
       'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       ' Manila Bay', 'Lucy', 'East Yorkshire', 'Cape Haitien', 'Leyte',
       'Halifax', 'Turtle Bogue',
       '60 miles north of San Domingo in the West Indies', 'Colon',
       'Off Ireland', 'Mediterranean Sea', 'Gran Canaria',
       'Apolima Strait', 'Essequibo', 'Lagos ', '5aint-Denis',
       'Viti Levu group', 'Balearics', 'Málaga ', 'Georges Bank',
       'Zambesi River', 'Colón Province', '30 nm from Singapore',
       'Andalucia', 'Sfax', 'South Atlantic Ocean', 'Galicia',
       'Gulf of Suez', 'Java', 'Tiburon Peninsula', 'Oaxaca',
       'Harare Province', 'Khánh Hòa Province', 'Maluku Province',
       'Suez Canal', ' Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros ', 'Imperia Province', 'Muala',
       'East coast', 'Ratak ', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas del Toro', 'Provence', 'Bay of Campeche',
       'Rangoon', 'Bay of Bengal', 'Bayelsa State', 'South Island?',
       'Norfolk Island', 'Brittany', 'Line Islands', 'Woodlark Islands',
       'Munxar Reef', 'Between Perth & Colombo', 'Gujarat', 'Cortés',
       'Gulf of California',
       'Somewhere between Philadelphia and Hiogo, Japan', ' New Jersey',
       "Côte d'Azur  ", 'Maldonado coast', 'Western Banks',
       'Andaman Islands', 'Off the coast of West Africa',
       'Misamis Oriental', 'Strait of Messina', 'Hoogly River',
       'Cyclades archipelago', 'Mount Lebanon',
       'Between Hastings & Fairlight, Sussex', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off the coast of South America', '22ºN, 88ºE',
       'Matanzas Province (north coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', '300 miles east of Mauritius',
       'Foveaux Strait', 'Sumatra', 'Conakry Region', 'Corfu', 'Malaga',
       'Bonin Islands', 'Fernando Po Island', 'Mangaia Island',
       'New York ', 'Corfu ', 'Between Australia & USA', 'Tongatapu',
       'Norfolk', 'Island of St. Thomas', 'Sanma Province',
       "35º39 : 165º8'", 'CUBA', 'Western Area ', 'Paraiba', 'Cape Coast',
       'Cumberland', 'Rivers State', 'Maharashtra', 'St. Anne',
       'St Helena', "Côte d'Azur ", 'Skagerrak arm of the North Sea',
       'Las Perlas archipelago', 'Southwest coast'], dtype=object)

In [42]:
# Reemplazar minisculas por mayusculas
df['State'] = df['State'].str.upper()

# Eliminar espacios en las celdas
df['State'] = df['State'].str.strip()

# Reemplazar celdas vacias por NAN
df['State'] = df['State'].replace({''}, 'NaN')

In [43]:
df['State'].nunique()

796

### Columna Activity

Aplicamos varias técnicas para intentar estandarizar las actividades posibles.

In [44]:
df['Activity'].unique()

array(['Swimming', 'Snorkeling', 'Swimming  or Snorkeling', ...,
       "a corsair's boat was overturned", 'Washing himself',
       'Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."'],
      dtype=object)

In [45]:
df['Activity'].value_counts()

Surfing                                                                                                                                                 1089
Swimming                                                                                                                                                 923
Fishing                                                                                                                                                  465
Spearfishing                                                                                                                                             369
Wading                                                                                                                                                   164
                                                                                                                                                        ...
Picking up shark by the tail                                                                                                                               1
Wading & pushing dinghy toward  the shallows                                                                                                               1
Diving. Shark “swallowed’ his hand, so he threw his other around the shark and went “shark-back riding” for 30 yards until the shark opened its jaws       1
Body surfing?                                                                                                                                              1
Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."         1
Name: Activity, Length: 1506, dtype: int64

In [46]:
df['Activity'].isnull().sum()

474

In [47]:
# Reemplazar valores NaN con 'Unknown'
df['Activity'].fillna('Unspecific', inplace=True)

# Convertir todo a minúsculas y eliminar espacios en blanco al inicio y final
df['Activity'] = df['Activity'].str.lower().str.strip()

Mediante expresiones regulares intentamos estandarizar al máximo posible. Aunque perdemos algún dato en realidad ganamos información. Aunque antes había menos nulos, los no nulos aportaban una información imposible de analizar.

In [48]:

# Definir una función para aplicar las expresiones regulares
def standardize_activity(activity):
    if re.search(r'swim|swimming', activity):
        return 'swimming'
    elif re.search(r'surf|surfing', activity):
        return 'surfing'
    elif re.search(r'dive|diving|snorkeling', activity):
        return 'diving'
    elif re.search(r'fish|fishing', activity):
        return 'fishing'
    elif re.search(r'kayak|canoe|paddle', activity):
        return 'kayaking'
    elif re.search(r'board|boat', activity):
        return 'boarding'
    elif re.search(r'wade|wading', activity):
        return 'wading'
    else:
        return 'Unspecific'

In [49]:
# Aplicar la función a la columna 'Activity'
df['Activity'] = df['Activity'].apply(standardize_activity)

In [50]:
# Verificar los resultados
df['Activity'].value_counts()

Unspecific    1504
surfing       1377
fishing       1179
swimming      1172
diving         679
boarding       340
wading         173
kayaking        99
Name: Activity, dtype: int64

### Columna Sex

Aplicamos varias técnicas para estandarizar la categoría a 3 posibles datos: F, M, Unknown.

In [51]:
# Verificar valores unicos
df['Sex'].unique()

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [52]:
# Verificar valores faltantes
df['Sex'].isnull().sum()

478

In [53]:
# Reemplazar valores NaN con 'Unknown'
df['Sex'].fillna('Unknown', inplace=True)
# Eliminar espacios en blanco al inicio y final
df['Sex'] = df['Sex'].str.strip()

In [54]:
# Creamos un diccionario de remplazos teniendo en cuenta los valores que hemos identificado
dic_remplazos = {'M x 2': 'M', 'lli': 'M', 'N': 'M', '.': 'Unknown'}
# Reemplazar 
df['Sex'] = df['Sex'].replace(dic_remplazos)

In [55]:
# Verificar resultados
df['Sex'].value_counts()

M          5315
F           729
Unknown     479
Name: Sex, dtype: int64

### Columna Age

Pasamos la edad a formato numérico. Perdemos algunos datos, pero ganamos información.

In [56]:
# Verificar valores faltantes
df['Age'].isnull().sum()

2709

In [57]:
# Verificar el tipo de datos de la variable
df['Age'].sample(30)

792         NaN
3242         30
162          28
301           7
4296         12
417          24
739         NaN
268           7
5761         17
3526        NaN
5109         20
4541        NaN
1129        NaN
5857        NaN
166          68
2061         24
4042         35
4837         12
2641    23 & 20
827          36
2754        NaN
601          17
1340         25
6503        NaN
5352        NaN
822          29
6579        NaN
2198          6
6132         23
1551         46
Name: Age, dtype: object

In [58]:
# Convertir la columna 'Age' a numérica, con valores no numéricos convertidos a NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [59]:
# Verificar el tipo de datos de la variable
df['Age'].dtype

dtype('float64')

In [60]:
# Verificar valores faltantes
df['Age'].isnull().sum()

2833

### Columna Deceased

Aplicamos varias técnicas para estandarizar la categoría a 3 posibles datos: Y, N, Unknown.

In [61]:
# Verificar valores unicos
df['Deceased'].unique()

array(['Y', 'N', 'M', 'n', nan, 'Nq', 'F', 'UNKNOWN', 2017, 'Y x 2', ' N',
       'N ', 'y'], dtype=object)

In [62]:
# Verificar valores faltantes
df['Deceased'].isnull().sum()

508

In [63]:
# Creamos un diccionario de remplazos teniendo en cuenta los valores que hemos identificado
dic_remplazos_Deceased = {'M': 'UNKNOWN','F': 'UNKNOWN', 'Nq': 'UNKNOWN', 'Y x 2': 'Y'}

# Eliminar espacios en blanco al inicio y final
df['Deceased'] = df['Deceased'].str.strip()
# Reemplazar valores
df['Deceased'] = df['Deceased'].replace(dic_remplazos_Deceased)
# Reemplazar minisculas por mayusculas
df['Deceased'] = df['Deceased'].str.upper()
# Reemplazar valores NaN con 'UNKNOWN'
df['Deceased'].fillna('UNKNOWN', inplace=True)

In [64]:
# Verificar resultados
df['Deceased'].unique()

array(['Y', 'N', 'UNKNOWN'], dtype=object)

In [65]:
# Verificar valores
df['Deceased'].value_counts()

N          4611
Y          1342
UNKNOWN     570
Name: Deceased, dtype: int64

### Columna Date

Estudiamos los formatos de fechas para realizar los cambios necesarios y para que al cambiar al formato fechas perdamos la menor cantidad de datos.

In [66]:
df['Date'].isna().sum()

0

In [67]:
# Mostrar valores unicos y visualizarlos
df['Date'].sample(30)

5116                    1950
3352             27-May-1988
3509             22-Jul-1984
6717             06-Jan-1835
1997             07-May-2007
6716    Reported 21-Feb-1835
1037             24-May-2015
2091             31-May-2006
1728             05-Jul-2009
1961             15-Aug-2007
5529             13-Aug-1935
1524             15-Jun-2011
1545             16-Apr-2011
1244             01-Sep-2013
470              16-Aug-2019
5751             28-Dec-1927
2023             09-Jan-2007
1123             27-Aug-2014
6238    Reported 04-Dec-1897
3859             09-Mar-1975
4930             06-Feb-1955
1766             01-Mar-2009
5173             03-Aug-1948
953              30-Oct-2015
5821             29-Jan-1924
1194             20-Feb-2014
6443             12-Aug-1881
2517             15-Sep-2001
1072             17-Jan-2015
3418                Dec-1986
Name: Date, dtype: object

In [68]:
# Eliminar espacios en las celdas

df['Date'] = df['Date'].str.strip()

In [69]:
# Remplazar espacios y puntos por guiones
df['Date'] = df['Date'].apply(lambda x: x.replace(' ', '-') if isinstance(x, str) else x)
df['Date'] = df['Date'].apply(lambda x: x.replace('.', '-') if isinstance(x, str) else x)

In [70]:
# Mostrar valores unicos y visualizarlos
df['Date'].sample(30)

4104    Reported-11-Apr-1968
5324             21-Nov-1942
5081             01-Feb-1951
1982             30-Jun-2007
6118             29-Dec-1905
2312             14-Feb-2004
5311             02-Mar-1943
792              06-Feb-2017
3874             14-Sep-1974
6285    Reported-01-Sep-1894
3741             27-Jul-1978
418              17-Jan-2020
1004             19-Jul-2015
6002             04-May-1912
3953             05-Jul-1972
3525             04-Jan-1984
626     Reported-30-Apr-2018
4822             09-Jul-1957
6083    Reported-12-Aug-1907
5429             26-Feb-1939
5577             24-Feb-1934
5720           Reported-1929
4291             26-Aug-1964
3818             08-Jan-1976
6688    Reported-10-Sep-1845
3032             18-Oct-1994
5817    Reported-28-Mar-1924
6212             28-Jan-1899
6553    Reported-15-Apr-1869
4388             08-Feb-1963
Name: Date, dtype: object

In [71]:
# Función para eliminar 'Reported-', 'Late-', y 'Early' 

df['Date'] = df['Date'].str.replace('^(Reported-|Late-|Early-)', '', regex=True)

In [72]:
# Función para quitar el dia
def quitar_dia(x):
    parts = x.split('-')
    if len(parts) == 3:
        return '-'.join(parts[1:])   
    return x

In [73]:
# Función para quitar el dia
df['Date'] = df['Date'].apply(lambda x: quitar_dia(x) if isinstance(x, str) else x)

In [74]:
# Mostrar valores unicos y visualizarlos
df['Date'].sample(30)

383     Jul-2020
2984    Jul-1995
973     Sep-2015
1787    Jan-2009
5188         NaN
3568    Mar-1983
345     Oct-2020
5368    Aug-1941
4300    Jul-1964
812     Nov-2016
6186    Sep-1900
5885    Jun-1920
2280    Jun-2004
6490    Apr-1877
5773    Oct-1926
4785    Jun-1958
5804        1925
4530    Apr-1961
1451    Dec-2011
6419    Jul-1883
3963    Mar-1972
1245    Aug-2013
662     Jan-2018
3093    Aug-1993
5845        1923
1569    Jan-2011
668     Nov-2017
4160    Mar-1967
3090    Sep-1993
591     Aug-2018
Name: Date, dtype: object

In [75]:
df['Date'] = pd.to_datetime(df['Date'],format ='%b-%Y', errors='coerce')

In [76]:
df.dtypes

Date                   datetime64[ns]
Country                        object
State                          object
Activity                       object
Sex                            object
Age                           float64
Deceased                       object
standarized_country            object
dtype: object

In [77]:
df['Date'].sample(30)

1936   2007-09-01
770    2017-04-01
5203   1947-07-01
3093   1993-08-01
4589   1960-09-01
6266   1895-08-01
2657   2000-07-01
3753   1978-01-01
2304   2004-03-01
624    2018-05-01
2864   1997-06-01
5564   1934-08-01
3007   1995-04-01
3138   1992-11-01
2393   2003-04-01
1127   2014-08-01
227    2021-11-01
4870   1956-08-01
1675   2009-12-01
6667   1849-06-01
4064   1969-08-01
2518   2001-09-01
1809   2008-10-01
4864   1956-08-01
4579   1960-11-01
6365   1888-02-01
3395   1987-07-01
4952   1954-09-01
2439   2002-09-01
6283   1894-09-01
Name: Date, dtype: datetime64[ns]

In [78]:
df['Date'].isna().sum()

469

## Creamos colunas Month y Year
Extraemos la información de mes y año a columnas independientes.

In [79]:
# Extraer la columna de mes
df['Month'] = df['Date'].dt.strftime('%B')

# Extraer la columna de año
df['Year'] = df['Date'].dt.year

In [80]:
df['Month'].isna().sum()

469

## Creamos la columna Decade
Esta columna nos ayudara en la visualización de los datos.

In [81]:
# Agrupar por década
df['Decade'] = (df['Year'] // 10) * 10

In [82]:
df

,Date,Country,State,Activity,Sex,Age,Deceased,standarized_country,Month,Year,Decade
138,2022-09-01,south africa,WESTERN CAPE PROVINCE,swimming,F,39.0,Y,South Africa,September,2022.0,2020.0
140,2022-09-01,bahamas,NaN,diving,F,58.0,Y,Bahamas,September,2022.0,2020.0
141,2022-09-01,usa,HAWAII,swimming,F,51.0,N,United States,September,2022.0,2020.0
142,2022-08-01,australia,NEW SOUTH WALES,surfing,M,14.0,N,Australia,August,2022.0,2020.0
143,2022-08-01,australia,NEW SOUTH WALES,kayaking,M,NaN,N,Australia,August,2022.0,2020.0
...,...,...,...,...,...,...,...,...,...,...,...
6793,NaT,italy,SARDINIA,swimming,M,NaN,Y,Italy,NaN,NaN,NaN
6794,1703-03-01,barbados,SOUTHWEST COAST,swimming,M,19.0,N,Barbados,March,1703.0,1700.0
6795,NaT,france,NaN,Unspecific,M,NaN,Y,France,NaN,NaN,NaN
6796,NaT,france,CÔTE D'AZUR,Unspecific,M,NaN,N,France,NaN,NaN,NaN
6797,NaT,barbados,NaN,Unspecific,M,NaN,Y,Barbados,NaN,NaN,NaN

## Creamos la columna Season
Con los datos de paises, las listas de hemisferios y los meses extraemos la información se la estación.

In [83]:
hemisferio_norte = [
    "United States", "Canada", "Bahamas", "Mexico", "Costa Rica", "Cuba", "Jamaica", "Belize", "Guatemala", 
    "El Salvador", "Honduras", "Nicaragua", "Panama", "Dominican Republic", "Puerto Rico", "Trinidad and Tobago", 
    "Saint Kitts and Nevis", "Saint Martin", "Barbados", "Dominica", "Martinique", "Grenada", "Haiti", "Turkey", 
    "Cyprus", "Israel", "Jordan", "Iraq", "Lebanon", "Syrian Arab Republic", "Palestinian Territories", 
    "Saudi Arabia", "United Arab Emirates", "Kuwait", "Oman", "Qatar", "Bahrain", "Georgia", "Russia", "Ukraine", 
    "Belarus", "Poland", "Slovakia", "Hungary", "Romania", "Bulgaria", "Greece", "Albania", "North Macedonia", 
    "Kosovo", "Serbia", "Montenegro", "Bosnia and Herzegovina", "Croatia", "Slovenia", "Italy", "Malta", "France", 
    "Andorra", "Monaco", "Luxembourg", "Belgium", "Netherlands", "Denmark", "Norway", "Sweden", "Iceland", 
    "Ireland", "United Kingdom", "Spain"
]

hemisferio_sur = [
    "South Africa", "Australia", "New Zealand", "Fiji", "Samoa", "Papua New Guinea", "Solomon Islands", 
    "Vanuatu", "Tuvalu", "Kiribati", "Nauru", "American Samoa", "Tonga", "Comoros", "Seychelles", "Mauritius", 
    "Madagascar", "Mozambique", "Tanzania", "Kenya", "Uganda", "Rwanda", "Burundi", "Zambia", "Zimbabwe", 
    "Botswana", "Namibia", "Angola", "Democratic Republic of the Congo", "Congo", "Gabon", "Equatorial Guinea", 
    "Sao Tome and Principe", "Maldives", "Sri Lanka", "India", "Bangladesh", "Myanmar", "Timor-Leste", "Falkland Islands", 
    "Argentina", "Chile", "Peru", "Bolivia", "Paraguay", "Uruguay", "Brazil", "Suriname", "Guyana"
]

In [84]:
# Definir las estaciones en función del mes y el hemisferio
def get_season(month, country):
    if country in hemisferio_sur:
        # Hemisferio sur
        if month in ['December', 'January', 'February']:
            return 'Summer'
        elif month in ['March', 'April', 'May']:
            return 'Autumn'
        elif month in ['June', 'July', 'August']:
            return 'Winter'
        elif month in ['September', 'October', 'November']:
            return 'Spring'
    elif country in hemisferio_norte:
        # Hemisferio norte
        if month in ['December', 'January', 'February']:
            return 'Winter'
        elif month in ['March', 'April', 'May']:
            return 'Spring'
        elif month in ['June', 'July', 'August']:
            return 'Summer'
        elif month in ['September', 'October', 'November']:
            return 'Autumn'
    else:
        return 'Unknown'

In [85]:
df['Season'] = df.apply(lambda row: get_season(row['Month'], row['standarized_country']), axis=1)

In [86]:
df['Season'].isnull().sum()

387

In [87]:
df['Season'].fillna('Unknown', inplace=True)

In [88]:
df['Season'].value_counts()

Summer     2311
Autumn     1398
Unknown    1092
Spring     1078
Winter      644
Name: Season, dtype: int64

## Estudiar duplicados

In [89]:
# Verificar duplicados
df.duplicated().sum()

142

In [90]:
# Eliminar duplicados
df.drop_duplicates(inplace = True)
# Restablecer el índice
df.reset_index(drop=True, inplace=True)

In [91]:
# Verificar duplicados
df.duplicated().sum()

0

In [92]:
df

,Date,Country,State,Activity,Sex,Age,Deceased,standarized_country,Month,Year,Decade,Season
0,2022-09-01,south africa,WESTERN CAPE PROVINCE,swimming,F,39.0,Y,South Africa,September,2022.0,2020.0,Spring
1,2022-09-01,bahamas,NaN,diving,F,58.0,Y,Bahamas,September,2022.0,2020.0,Autumn
2,2022-09-01,usa,HAWAII,swimming,F,51.0,N,United States,September,2022.0,2020.0,Autumn
3,2022-08-01,australia,NEW SOUTH WALES,surfing,M,14.0,N,Australia,August,2022.0,2020.0,Winter
4,2022-08-01,australia,NEW SOUTH WALES,kayaking,M,NaN,N,Australia,August,2022.0,2020.0,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...
6376,NaT,italy,SARDINIA,swimming,M,NaN,Y,Italy,NaN,NaN,NaN,Unknown
6377,1703-03-01,barbados,SOUTHWEST COAST,swimming,M,19.0,N,Barbados,March,1703.0,1700.0,Spring
6378,NaT,france,NaN,Unspecific,M,NaN,Y,France,NaN,NaN,NaN,Unknown
6379,NaT,france,CÔTE D'AZUR,Unspecific,M,NaN,N,France,NaN,NaN,NaN,Unknown
6380,NaT,barbados,NaN,Unspecific,M,NaN,Y,Barbados,NaN,NaN,NaN,Unknown

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6381 entries, 0 to 6380
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 5975 non-null   datetime64[ns]
 1   Country              6358 non-null   object
 2   State                6008 non-null   object
 3   Activity             6381 non-null   object
 4   Sex                  6381 non-null   object
 5   Age                  3672 non-null   float64
 6   Deceased             6381 non-null   object
 7   standarized_country  6381 non-null   object
 8   Month                5975 non-null   object
 9   Year                 5975 non-null   float64
 10  Decade               5975 non-null   float64
 11  Season               6381 non-null   object
dtypes: datetime64[ns](1), float64(3), object(8)
memory usage: 598.3+ KB

## Guardar en CSV

Guardamos los datos en un csv para usarlos para el EDA.

In [93]:
df.to_csv('clean_data.csv', index=False)