## SHARK ATTACK

### Importamos la base de datos y verificamos los datos

In [271]:
import pandas as pd
import numpy as np

In [272]:
# Cargar el archivo de Excel usando Pandas
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)

In [273]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [274]:
# Verificar valores faltantes
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

### Eliminamos columnas sobrantes y valores unicos

In [275]:
# # Eliminar columnas: pdf, href formula, href, Case Number.1, Case Number, original order, Unnamed: 21, Unnamed: 22, Source

df.drop(['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22', 'Source'], axis=1, inplace=True)

In [276]:
# Eliminar columnas con más del 50% de valores faltantes
missing_values_threshold = 0.5
df = df.loc[:, df.isnull().mean() < missing_values_threshold]

In [277]:
# Renombrar columna unnamed: 11 por Died
if "Unnamed: 11" in df.columns:
    df.rename(columns={"Unnamed: 11": "Died"}, inplace=True)

C:\Users\Laura Ortiz\AppData\Local\Temp\ipykernel_2540\4276926852.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"Unnamed: 11": "Died"}, inplace=True)

In [278]:
# Eliminar filas con más de 5 valores faltantes
df = df.dropna(thresh=len(df.columns) - 5)

In [279]:
df.dtypes

Date         object
Year        float64
Type         object
Country      object
State        object
Location     object
Activity     object
Name         object
Sex          object
Age          object
Injury       object
Died         object
Species      object
dtype: object

In [280]:
# Eliminamos los valores numericos de Sex
# df = df[df['Sex'].str.isdigit() == False]

In [281]:
# Modificar Sex los valores nan, Unknown, ., por NAN
df['Sex'] = df['Sex'].replace(['nan', 'Unknown', '.'], 'NaN')

# Reemplazar 'M x 2' por 'M'
df['Sex'] = df['Sex'].replace({'M x 2': 'M'})

# Reemplazar 'lli' por 'M'
df['Sex'] = df['Sex'].replace({'lli': 'M'})

# Reemplazar ' M' por 'M'
df['Sex'] = df['Sex'].replace({' M': 'M'})

# Reemplazar 'M ' por 'M'
df['Sex'] = df['Sex'].replace({'M ': 'M'})

# Reemplazar 'N' por 'M'
df['Sex'] = df['Sex'].replace({'N': 'M'})

# Reemplazar celdas vacias por NAN
df['Sex'] = df['Sex'].replace({''}, 'NaN')

In [282]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Date'].unique())
print("\nValores faltantes:")
print(df['Date'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['15 Mar 2024' '04 Mar 2024' '02 Mar-2024' ... '1900-1905' '1883-1889'
 '1845-1853']

Valores faltantes:
0

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       43
State        452
Location     534
Activity     560
Name         198
Sex          552
Age         2957
Injury        28
Died         549
Species     3104
dtype: int64

In [283]:
# Eliminamos los valores letras de Date
df = df[df['Date'].str.isdigit() == False]

# Eliminamos Reported de Date
df['Date'] = df['Date'].str.replace('Reported', '')

# Dejamos solo el nombre del mes en Date
df['Date'] = df['Date'].str.replace('([^\s]+\s)', '')

# Reemplazar celdas vacias por NAN
df['Date'] = df['Date'].replace({''}, 'NaN')

C:\Users\Laura Ortiz\AppData\Local\Temp\ipykernel_2540\1929183097.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Date'] = df['Date'].str.replace('([^\s]+\s)', '')

In [284]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Sex'].unique())
print("\nValores faltantes:")
print(df['Sex'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['F' 'M' nan 'NaN']

Valores faltantes:
515

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         526
Species     2914
dtype: int64

In [285]:
# Verificar valores unicos en la columna 'Date' y visualizarlos
print("\nValores unicos:")
print(df['Date'].unique())
print("\nValores faltantes:")
print(df['Date'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['2024' 'Mar-2024' 'Feb-2024' ... '1900-1905' '1883-1889' '1845-1853']

Valores faltantes:
0

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         526
Species     2914
dtype: int64

In [286]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Died'].unique())
print("\nValores faltantes:")
print(df['Died'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
[nan 'N' 'Y' 'M' 'F' 'n' 'Nq' 'UNKNOWN' 2017 'Y x 2' ' N' 'y']

Valores faltantes:
526

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         526
Species     2914
dtype: int64

In [287]:
# Reemplazar minisculas por mayusculas
df['Died'] = df['Died'].str.upper()

# Modificar Died los valores nan, UNKNOWN, M, F, Nq, 2017 , por NAN
df['Died'] = df['Died'].replace(['nan', ' nan', 'UNKNOWN', 'M', 'F', 'Nq', '2017', '', ' 2017', '2017 '], 'NaN')

# Reemplazar n, ' N' por 'N'
df['Died'] = df['Died'].replace({'n': 'N', ' N': 'N'})

# Reemplazar 'Y x 2', 'y'por 'Y'
df['Died'] = df['Died'].replace({'Y x 2': 'Y', 'y': 'Y'})

#Reemplazar 2017 por NAN
df['Died'] = df['Died'].replace({'2017': 'NaN'})

# Reemplazar celdas vacias por NAN
df['Died'] = df['Died'].replace({''}, 'NaN')

# Reemplazar celdas NAN por NAN
df['Died'] = df['Died'].replace({'NaN': 'NaN'})

In [288]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Type'].unique())
print("\nValores faltantes:")
print(df['Type'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Unprovoked' ' Provoked' 'Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']

Valores faltantes:
18

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         527
Species     2914
dtype: int64

In [289]:
# Convertir los valores faltantes en NaN
df['Type'] = df['Type'].replace({''}, 'NaN')

In [290]:
# Visualizar los valores faltantes
print(df[df['Type'].isnull()])

              Date    Year Type       Country           State  \
191    01-Apr-2022  2022.0  NaN  SOUTH AFRICA             KZN
207    08-Feb-2022  2022.0  NaN    COSTA RICA      Guanacoste
228    16-Oct-2021  2021.0  NaN     AUSTRALIA      Queensland
233    10-Sep-2021  2021.0  NaN         EGYPT             NaN
254    21-Jul-2021  2021.0  NaN           USA         Florida
342    21-Oct-2020  2020.0  NaN           USA  North Carolina
347    21-Sep-2020  2020.0  NaN           USA          Hawaii
351    16-Sep-2020  2020.0  NaN           USA         Florida
354    08-Sep-2020  2020.0  NaN           USA         Florida
364    19-Aug-2020  2020.0  NaN           USA  South Carolina
393    04-Jun-2020  2020.0  NaN           USA        Delaware
403    29-Apr-2020  2020.0  NaN           USA      California
697    15-Sep-2017  2017.0  NaN         SAMOA    Upolu Island
997    27-Jul-2015  2015.0  NaN     AUSTRALIA        Victoria
5497   11-Sep-1936  1936.0  NaN       VIETNAM             NaN
6338   03-Mar-1890  1890.0  NaN        CEYLON             NaN
6819                   0.0  NaN         JAPAN             NaN
6820            BC     0.0  NaN          PERU          Paloma

                                  Location           Activity  \
191                                LaLucia                NaN
207                         Playa Del Coco             Diving
228                         Sudbury Island       Spearfishing
233                     Sidi Abdel Rahmen            Swimming
254       Near Patrick AFB, Brevard County                NaN
342          Emerald Isle, Carteret County            Surfing
347              Charley Young Beach, Maui           Swimming
351   Daytona Beach Shores, Volusia County           Swimming
354            Canaveral National Seashore       Surf fishing
364             Myrtle Beach, Horry County             Wading
393           Herring Point, Sussex County       Skimboarding
403      Moonlight Beach, San Diego County      Body Boarding
697                              Nofoali’i            Fishing
997                       Tyrendarra Beach            Surfing
5497                                Saigon  Wreck of a sampam
6338                                   NaN             Diving
6819                    Archeological site                NaN
6820                    Archeological site                NaN

                           Name Sex  Age  \
191   Two bodies washed ashore,   M  NaN
207                      female   F   50
228              Torrance Sambo   M   26
233                     Mohamed   M  NaN
254                  Katie Wood   F   35
342              Erik Martynuik   M  NaN
347                      female   F   61
351                 Eric Bowman   M   48
354                        male   M   54
364             Nicole Stowerss   F  NaN
393                  Holt Baker   M   12
403                        male   M   16
697                        male   M  NaN
997                        male   M   40
5497                     8 crew   M  NaN
6338              a pearl diver   M  NaN
6819                       male   M  NaN
6820                       male   M   17

                                                 Injury Died  \
191                     Possible drowing and scavenging  NaN
207                 Right forearm and left hand injured  NaN
228                                         Disappeared  NaN
233            Laceration to arm caused by metal object  NaN
254   Small laceration to ankle, shark involvement n...    N
342                         Laceration to knee and foot    N
347         Lacerations and puncture wounds to shoulder    N
351               Minor cuts and punctures to left foot    N
354   Hand bitten that was holding a fish PROVOKED I...    N
364                       Minor injury to arm by a fish    N
393                              Puncture wounds to leg    N
403                Minor injury to ankle from stingray     N
697                          Injuries to hands and legs    N
997                                      Injury to hand  NaN
5497                                              FATAL    Y
6338                                              FATAL    Y
6819                                              FATAL    Y
6820                                              FATAL    Y

                                               Species
191                                                 NaN
207                                      Bull shark, 3m
228                                                 NaN
233                               No shark invovlement
254                                                 NaN
342                     Shark involvement not confirmed
347                      Injuries not caused by a shark
351                     Shark involvement not confirmed
354                                      4' to 5' shark
364                                                 NaN
393   Shark involvement unconfirmed but considered p...
403                                                 NaN
697                                                 NaN
997                                                 NaN
5497                                                NaN
6338                                                NaN
6819                                                NaN
6820                                                NaN

In [291]:
# Modificar Type los valores nan, '?', Invalid por NAN
df['Type'] = df['Type'].replace(['nan', '?', 'Invalid'], 'NaN')  


#Reemplazar ' Provoked' por 'Provoked'
df['Type'] = df['Type'].replace({' Provoked': 'Provoked'})

# Reemplazar celdas vacias por NAN
df['Type'] = df['Type'].replace({''}, 'NaN')

# Reemplazar minusculas por mayusculas
df['Type'] = df['Type'].str.upper()

# Reemplazar celdas vacias por NAN
df['Type'] = df['Type'].replace({''}, 'NaN')

In [292]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Country'].unique())
print("\nValores faltantes:")
print(df['Country'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['AUSTRALIA' 'USA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'Mexico' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'Maldives' 'South Africa' 'ENGLAND' 'JAPAN'
 'INDONESIA' 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'New Zealand' 'British Overseas Territory' 'CANADA' 'JORDAN'
 'ST KITTS / NEVIS' 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND'
 'ISRAEL' 'CHINA' 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan 'MAURITIUS'
 'SOLOMON ISLANDS' 'ST HELENA, British overseas territory' 'COMOROS'
 'REUNION' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'YEMEN' 'GULF OF ADEN' 'Sierra Leone'
 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA' 'VANUATU' 'MEXICO '
 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY' 'MICRONESIA'
 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS' 'SENEGAL'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'TUNISIA' 'NAMIBIA' 'NORTH ATLANTIC OCEAN'
 'SOUTH CHINA SEA' 'BANGLADESH' 'WESTERN SAMOA' 'PACIFIC OCEAN '
 'BRITISH ISLES' 'PALAU' 'GRENADA' 'IRAQ' 'TURKEY' 'SINGAPORE'
 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND' 'SOUTH PACIFIC OCEAN'
 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'MALDIVE ISLANDS'
 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON' 'MAYOTTE'
 'NORTH ATLANTIC OCEAN ' 'MONTENEGRO' 'THE BALKANS' 'SUDAN?' 'IRAN'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'SLOVENIA' 'ICELAND'
 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA' 'HAITI' 'SAN DOMINGO'
 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'EGYPT '
 'WEST INDIES' 'BURMA' 'LEBANON' 'MARTINIQUE' 'BRITISH NEW GUINEA'
 'CEYLON' 'GEORGIA' 'SYRIA' 'INDIAN OCEAN?' 'GUINEA'
 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA'
 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'MEDITERRANEAN SEA' 'ASIA?' 'CEYLON (SRI LANKA)']

Valores faltantes:
40

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         527
Species     2914
dtype: int64

In [293]:
# Reemplazar minisculas por mayusculas
df['Country'] = df['Country'].str.upper()

# Eliminar espacios en las celdas
df['Country'] = df['Country'].str.strip()

In [294]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['State'].unique())
print("\nValores faltantes:")
print(df['State'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Queensland' 'Hawaii' 'Western Australia' 'Maharashtra' nan
 'New  South Wales' 'Paradise Island' 'South Australia'
 'Eastern Cape Province' 'Sonora' 'New South Wales' 'South Island'
 'Guerrero' 'New Providence   Isoad' 'Jalisco' 'Grand  Bahama Island'
 'Florida' 'Westerm Australia' 'North Island' 'Southern Red Sea'
 'Quintana Roo' 'Belize District' 'California' 'South Carolina'
 'South Sinai' 'Bolinao' 'North Carolina' 'Valencia' 'Norte'
 "Savai'i island" 'New York' 'San Andrés Island' 'Galapagos Islands'
 'Red Sea Protectorate' 'Freeport' 'Tahiti' 'Poum' 'Providenciales Island'
 'Lucayan Lucayan Archipelago' 'New Jersey' 'Mayabeque'
 'Easten Cape Province' 'Artemisa' 'Pernambuco' 'Praslin Island'
 'South Province' 'Patagonia' 'Taveuni Island' 'Gulf of California'
 'Vaavu Atoll' 'KNZ' 'New South ales' 'Samoa' 'Texas' 'Louisiana'
 'Mississippi' 'Western  Australia' 'Victoria' 'Western Cape Province'
 'Cornwall' 'Noirth Carolina' 'Okinawa' 'Bali'
 'Hurghada, Red Sea Governorate' 'Ambergris Cay' 'Bora Bora' 'Georgia'
 'Phuket' 'Alabama' 'KZN' 'Isla De San Andres' 'Guanacoste'
 'KwaZulu-Natal' 'São Paulo.' 'Turks and Caicos' 'Nova Scotia' 'Maryland'
 'Chanthaburi Province' 'BAHAMAS' 'Galapagos' 'Aqaba' 'West Sussex'
 'Nouville' 'Ambergris Key' 'Westmoreland Parish' 'Marquesas'
 'Loyalty Islands' 'Maui' 'The Narrows' 'Raa Atoll' 'Oregon'
 ' Grand Bahama Island' 'Franklin County, Florida' 'Virgin Islands'
 'Tasmania' 'Tuamotu Islands' 'Maine' 'Bahamas' 'Delaware' 'Abaco Islands'
 'Muang district of Satun province, ' 'Canary Islands' 'Vanua Levu'
 'Exumas' 'Southland' 'Phang Nga Province' 'Praslin' 'Central Province'
 'Holquin' 'Moorea' 'Baja ' 'Saint-Gilles' 'Guam' 'Northern Territory '
 'Cayman Islands' 'Rhode Island' 'Chatham Islands' 'Quinta Roo'
 'Lucayan Archipelago' 'Bélep Islands' 'Noumea' 'Fernando de Noronha'
 'Liaoning Province' 'New South Wales ' 'Upolo' 'St. Marys Parish'
 'Massachusetts' 'County Cork' 'Chieti, Province' 'Guizhou Province'
 'San Andres and Providencia Archipelago' 'The Exuma Cays' 'Colima'
 'Hua Hin' 'Cocos Island' 'Alifu Alifu Atoll' 'New Providence' 'Alagoas'
 'Boi Island, Victoria' 'Sepang' 'Holquin Province' 'Pamplemousses '
 ' Upolu Island' 'Shizuoka Prefecture' 'Castellón'
 'New Providence District' '40 miles off Grand Bahama Island'
 'Ascension Island' 'Majorca' 'Washington' 'Tabasco' 'Anjouan'
 'Ibiza Island' 'South Devon' 'New Providence ' 'Sharjah, '
 'Baja California Sur' 'Saint-Leu' 'Luzon Island' 'Tamaulipas'
 'Saint-Andre' 'Bimini' 'Tuamotos' 'North Province'
 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Isla Providencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Santa Catarina State' 'Altagracia Province'
 'Grand Cayman' 'Balneário Camboriú' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Alicante' 'Guanacaste'
 'Grand Bahama Island' 'Le Port' 'Rangiroa' 'Saint-Gilles-les-Bains'
 'Sardinia' 'Sinaloa' 'Central Tuamotu' 'd’Étang-Salé' 'Granada'
 'Cargados Carajos Shoals (St. Brandon)' 'Catalonia' 'West End'
 'Atsumi peninsula' 'Palmyra Atoll' 'Wallis and Futuna'
 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad' 'Okinawa Prefecture'
 '740 miles SE of Tarawa Atoll' 'Southern District' 'Bay of Biscay'
 'Exuma Islands' 'Saint-Paul' 'Taitung ' 'Kingston Parish'
 'Santa Cruz Island' 'Tuamotus' 'Eleuthera' 'St. Catherine' 'Palawan'
 'Mercury Islands' 'Delta' "Vava'u" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Saint-Benoit' 'Tabuk Province'
 'Antofagasta Province' "St John's" 'Santa Elena' 'East New Britain'
 'Bois-Blanc ' 'Moray' 'Puerto Rico' 'Samaná Province' 'Coast Province'
 'Primorsky Krai' 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 ' Loyalty Islands' 'Saint Gilles ' 'Virginia' "Ha'api "
 'Western Province' 'Jeju Province' 'Binh Dinh Province'
 'Antsiranana Province' 'Sinai Peninsula' 'Off Vanua Levu' 'Merizo'
 'Rio Grande Do Sul' 'Dubai' 'Torres Strait' 'Eastern Province'
 'Eastern Cape  Province' 'Maputo Province' 'Bocas' 'Fife' 'Devon'
 'Makira-Ulawa Province' 'Mombasa' 'Catalunya' 'St. Johns Reef'
 'Off Green Island' 'North Region' 'Batangas province' 'Strait of Malacca'
 'Guantanamo Province' 'Maranhão' 'Red Sea' 'Batanes Provine' 'Luzon'
 'Northern Territory' ' Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Easter Ross' 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Providenciales' 'Bimini Islands' 'Muhafazat Hadramawt' 'Cook islans'
 'Surigao del Norte' 'Between Somalia & Yemen' 'Ambergris Caye'
 'Saint-Pierre' 'Kentucky' 'Andros Islands' 'Western Area'
 '300 miles from Antigua' '800 miles from land'
 '600 nm west of the Canary Islands' 'Simpson Bay' 'East Wall'
 'Inner Islands' 'Shanghai' 'Malampa Province'
 "South Ch'ungch'ong Province" 'Bay Islands' 'New Mexico'
 'Santa Isabel Province' 'Santiago de Cuba Province' 'Camaguey Province'
 'Conservatória District' 'South Carolina ' 'Kuril Islands in the Pacific'
 'Wakayama Prefecture' "Nuku'alofa" 'Saint-Benoît'
 'South Island, near Karitane north of Dunedin' 'Rocha' 'Northlands'
 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands' 'Taveuni'
 'Johnston Atoll' 'Baatan' 'Rio de Janeiro' 'Nueva Esparta'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'Louisiade Archipelago'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Adriatic Sea'
 'Ralik Chain' 'Grand Baie' "L' Etang Salé-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Marches region' 'Berry Islands' 'Transvaal' 'Gaza'
 "Grand'Anse" 'Miyako' "L'Etang-Sale" 'Chatham Islands '
 'South Sinai, Gulf of Aqaba' 'Cat Cay' 'Missouri'
 '12 miles off the north coast' 'Saint-Paul '
 'Chatham Islands, east of New  Zealand' 'Saint-Denis' 'Vava’u'
 'Clearwater Bay' 'New Territories' 'Aichi Prefecture' 'Tafea Province'
 'Kagoshima Prefecture' 'Saint-Joseph' 'Banaadir Region' 'La Libertad'
 'Costa Blanca' 'Walkers Cay' 'On the Kowloon penisula, south of Sai Kung'
 'Ehime Prefecture' 'Tongapatu Group' 'West Africa' 'Wakaya Island'
 'North Carolina ' 'Mexico / Caribbean Sea' 'Antarctic Ocean'
 'La Saline-les-Bains' 'Sea of Japan' 'Ligurian Sea' "L'Etang-Salé"
 'Kowloon Peninsula' 'Port Shelter' 'Laucala Island' 'Sainte-Marie'
 'Great Exuma Island' 'Sainte-Suzanne' 'Tuscany' 'Tyrrhenian Sea'
 'Valpariso Province' 'Viscayan Sea' 'New Ireland' 'Manfredonia '
 'Tokyo Prefecture' 'Saint-Louis' 'Mindoro' 'Between DR and Puerto Rico'
 'Between Honiara & Isabel Island' 'Florida Straits' 'Gulf of Lyons'
 'Cádiz' 'Sicily' 'Andikira Fokithes' 'Central Philippines'
 'Northwest Italy' 'English Channel' 'Carolina coast'
 'Kumamoto Prefecture' 'Saint-Philippe' 'Chungnam' 'Eronogo Region'
 'Coquimbo' 'Pagasitikos Gulf' "St. Mary's Parish" 'Romblon Province'
 'Lamu Archipelago' 'Los Vilos' 'Island of Kos' "Ha'api" 'Madeira Islands'
 'Ho Ha Wan Marine Park' 'Southern Thailand' 'Golfo de Venezia'
 'Ralik Archipelago' 'South China Sea 200 miles from Hong Kong'
 'Reggio Calabria Province' 'Mirs Bay ' 'Genoa Province'
 'Ganges-Brahmaputra delta' ' Split-Dalmatia County' 'Florida '
 'Upolu Island' 'Istria County' 'Between Beira & Maputo'
 'Inhambe Province' 'Namonuito Atoll' 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'Caribbean Sea'
 'St. Andrew Parish' '200 nm southeast of Manila' 'Limpopo River'
 'New Ireland Province' 'Basrah' 'Clarendon' 'Moro Gulf' 'Johor'
 'Magdalena Department' 'Mafia Island' 'Gulf Province' 'Morobe Province'
 'Rombion Province' 'Veracruz' 'Brindisi Province' 'Kagawa Prefecture'
 'Liguria' 'Hamilton' 'Out Islands' 'Mugla Province' 'Gibraltar'
 'New Britain' 'Bay of Maputo' 'Duke of York Islands'
 'Primorje-Gorski Kotar County ' 'Taranto province' 'Northern Taiwan'
 'Admiralty Islands, Manus Province' 'North Sumatra'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'Western Caroline Islands'
 'East of the Gulf of Aqaba' 'Bougainville (North Solomons)' 'Victoria '
 'Okayama Prefecture' 'San Blas' 'Connecticut' 'Lau Group'
 'Caribbean Coast' 'Vita Levu' 'San Blas Islands' 'Puntarenas Province'
 'Lomaloma, Lau' 'Between Southampton & Canary Islands'
 'South Coast, East New Britain' ' Lau Province' 'Ysabel Island'
 'Santo Domingo' 'San Blas coast' 'Thessaly' 'Lomaiviti  Island Group'
 'Rodrigues' 'Manus Island' 'Pinas Bay' 'Grand Turk Island'
 'Off coast of West Africa' 'Sharon' 'Antalya Province'
 'Northern District' 'New Ireland Province, Bismarck Archipelago'
 'Cyclades' 'Viti Levu' 'Off the Coromandel Peninsula, North Island'
 'Madang' 'Guadalcanal Province' '10ºS, 142ºE' 'Kwajalein Atoll'
 'East Flores' 'Guerrrero' 'Western Luzon Island' 'Shefa Province'
 '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'United Arab Emirates'
 'Wake Island (EnenKio)' '19S, 178?E' 'Pennsylvania' '9.35N 79.35W'
 'Roncador Bank' 'Western District' 'Enroute from Suez to Aden (Yemen)'
 '180 miles southeast of Okinawa' 'Eniwetok Atoll' 'Cap-Vert Peninsula'
 'Delagoa Bay' 'In the English Channel ' 'Cook Strait'
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Eastern  Province'
 'Northwest of Viti Levu' 'Rigo subdistrict' 'Masbate'
 '400 miles southeast of Sri Lanka' 'Lomaiviti Province' 'Kadavu'
 'Leyte Island' 'Orissa' 'Hokkaido Prefecture' 'North Palawan' 'Queaon'
 'Istria' 'PANAMA' 'In the Gulf Stream ' 'Mersin Province' 'Guyamas'
 'Between England & South Africa' 'Mindanao' ' Kikori River mouth'
 'South Chungcheong Province' 'Ahirkapi coast' 'Tutuila Island'
 'West New Britain Province' 'Primorje-Gorski Kotar County'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 '1,000 miles east of Hawaii' 'Honiara' 'Yucatan Channel'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near the Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'Congreve Channel' 'St. Thomas Bay' 'Madeira' '1000 miles west of Hawaii'
 'Izo Islands' ' Primorje-Gorski Kotar County' 'Open sea' 'Aden'
 'New Ireland, Bismarck Archipelago' 'Isles del Rosario' 'Wake Island'
 'Isle of Man' 'Zadar County' 'Nagasaki Prefecture' 'Slovenia'
 'South shore ' 'Buenos Aires Province' 'Karun River'
 '330 to 350 miles east of Wake Island' 'Gulf of Panama' 'Genoa  Province'
 'Abau Sub District, Central Province' 'Teramo' 'Red Sea State' 'Curacao'
 'Port Louis Province' 'Montserrado' 'Bay of Maputu' 'Sofala Province'
 'Salerno' 'Salerno Province' 'Corfu Island' 'Taranto' 'Naples Province'
 ' La Libertad' 'Sago Prefecture' 'Savona' 'Jakarta Harbour' 'Calabria'
 'Shatt-el-Arab River' 'Shatt-al-Arab River' 'Shat-Al-Arab River'
 'Between Kwajalein Atoll & Johnston Island' 'Attica' 'Adana Province'
 'Bandar Ma’shur sea inlet' 'Saipan' 'Carpathian Sea' 'Kwajalein'
 'Khuzestan Province' 'Dar-es-Salaam ' 'Ryukyu' ' North Carolina'
 'In transit between Tinian and Leyte' 'Northern Java' 'Tel Aviv'
 '300 miles east of Luzon' 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Lake Nicaragua (fresh water)'
 'Near the Fiji Islands' '40 miles south of Naples '
 'Northwest of Papua New Guinea' 'Between Hawaii and U.S.A.'
 'Off South American coast' 'Makora-Ulawa Province' '04.05N-13.23W'
 'Midway Atoll' '300 miles east of St. Thomas (Virgin Islands)'
 'West of Ceylon (Sri  Lanka)' 'Camiguin Island' 'Off Libya'
 'North of Pernambuco, Brazil' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'Panama Bay (Pacific Ocean)' 'Torres Strait '
 'North China' 'Lower San Juan River' 'Nicoya Peninsula' 'Basrah City'
 'West Bengal' 'Queensland ' 'Argyllshire' 'Arran' 'Argyll'
 'Colon Province' 'Fishing Grounds' 'Newfoundland' 'Isle of Wight'
 'Makira-Uluwa Province' 'Northern (Oro) Province' 'Herzliyah'
 'Elqui Province' 'Istanbul' 'St Michael Parish' 'Havana Province'
 'Barlavento Islands' 'Viti Levu Island' 'Bay of Fundy' 'Manila'
 'French Southern Territories' 'Black River' 'Limón Province'
 'Phoenix Islands' 'Cienfuegos Province' 'Santiago Island'
 'Near Puntarenas' 'Porto Seguro' 'Salinas Bay'
 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator ' 'Bay of Monaco' 'Valencia ' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Galica' 'Demerara County' 'Vera Cruz' ' Manila Bay'
 'Lucy' 'East Yorkshire' 'Cape Haitien' 'Leyte' 'Halifax' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos ' 'Viti Levu group'
 'Málaga ' 'Georges Bank' 'Zambesi River' 'Colón Province'
 '30 nm from Singapore' 'Andalucia' 'Sfax' 'South Atlantic Ocean'
 'Galicia' 'Gulf of Suez' 'Java' 'Tiburon Peninsula' 'Oaxaca'
 'Harare Province' 'Maluku Province' 'Suez Canal' ' Nusa Tenggara'
 'Between Noumea & Sydney' 'Villa Clara Province' 'Ancona Province'
 'Rio San Juan' 'Mediterranean Sea' 'Southern Cyprus' 'Syracuse'
 'Western Viscayas' 'Mindoro Occidental' 'Negros ' 'Imperia Province'
 'Muala' 'East coast' 'Ratak ' 'Socotra Islands' 'Moluccas'
 'Bocas del Toro' 'Provence' 'Bay of Campeche' 'Rangoon' 'Bay of Bengal'
 'Bayelsa State' 'South Island?' 'Norfolk Island' 'Brittany'
 'Line Islands' 'Woodlark Islands' 'Munxar Reef' 'Northern Peloponnese'
 'Between Perth & Colombo' 'Gujarat' 'Cortés' ' New Jersey'
 "Côte d'Azur  " 'Maldonado coast' 'Western Banks' 'Andaman Islands'
 'East Java' 'Off the coast of West Africa' 'Misamis Oriental'
 'Strait of Messina' 'Hoogly River' 'Cyclades archipelago' 'Veracruz '
 'Gilbert Islands' 'Lomaiviti Provine' 'Off the coast of South America'
 '22ºN, 88ºE' 'Alpes Maritime' 'Edinburgh' 'Eastern Catalona'
 '300 miles east of Mauritius' 'Foveaux Strait' 'Conakry Region' 'Corfu'
 'Malaga' 'Fernando Po Island' 'Mangaia Island' 'New York ' 'Corfu '
 'Between Australia & USA' 'Tongatapu' 'Norfolk' 'Island of St. Thomas'
 'Matanzas Province (north coast)' 'Cumberland' 'Sanma Province'
 "35º39 : 165º8'" 'CUBA' 'Western Area ' 'Paraiba' 'Cape Coast'
 'Rivers State' 'St Helena' 'Southwest coast' "Côte d'Azur "
 'Nice & Marseilles' 'Magarita or Cubagua Islands' 'Yucatan' 'Ionian Sea'
 'Piraeus' 'Off Thessaly' 'Paloma' 'Bocas del Toro Province' 'Rocha '
 'Gulf of Tadjoura' 'Cyrenaica' 'Northern Province' 'Los Roques  Islands'
 'Dodecanese Islands' 'Malaita Province' 'South Korea'
 'Milne Bay  Province' 'Island of Volos' 'Amirante Islands'
 'Kadavu Island Group' 'Toamasina Province' 'Riau Province' 'Bikini Atoll'
 'New Georgia' 'Between New Ireland & New Britain'
 'Ba Ria-Vung Tau  Province' 'Moala Island']

Valores faltantes:
419

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         527
Species     2914
dtype: int64

In [295]:
# Reemplazar minisculas por mayusculas
df['State'] = df['State'].str.upper()

# Eliminar espacios en las celdas
df['State'] = df['State'].str.strip()

# Reemplazar celdas vacias por NAN
df['State'] = df['State'].replace({''}, 'NaN')

In [296]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Location'].unique())
print("\nValores faltantes:")
print(df['Location'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Bargara Beach' "Old Man's, Waikiki" 'Rainbows, Oahu' ...
 'Ocracoke Inlet' 'Panama Bay 8ºN, 79ºW'
 'Below the English fort, Trincomalee']

Valores faltantes:
482

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         527
Species     2914
dtype: int64

In [297]:
 # Reemplazar minisculas por mayusculas
df['Location'] = df['Location'].str.upper()

# Eliminar espacios en las celdas
df['Location'] = df['Location'].str.strip()

# Reemplazar celdas vacias por NAN
df['Location'] = df['Location'].replace({''}, 'NaN')

In [298]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Activity'].unique())
print("\nValores faltantes:")
print(df['Activity'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Swimming' 'Surfing' nan ...
 'Crew swimming alongside their anchored ship' '4 men were bathing'
 'Wreck of  large double sailing canoe']

Valores faltantes:
501

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity     501
Name         187
Sex          515
Age         2726
Injury        25
Died         527
Species     2914
dtype: int64

In [299]:
# Reemplazar minisculas por mayusculas
df['Activity'] = df['Activity'].str.upper()

# Eliminar espacios en las celdas
df['Activity'] = df['Activity'].str.strip()

# Reemplazar celdas vacias por NAN
df['Activity'] = df['Activity'].replace({''}, 'NaN')

# Reemplazar los valores que no sean 'SURFING', 'SWIMMING' o 'FISHING' por NaN
valid_activities = ['SURFING', 'SWIMMING', 'FISHING']
df['Activity'] = df['Activity'].apply(lambda x: x if x in valid_activities else np.nan)

In [300]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Age'].unique())
print("\nValores faltantes:")
print(df['Age'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['13' nan '11' '46' '32' '29' '10' '64' '62' '39' '22' '15' '16' '21' '66'
 '52' '20' '44' '26' '47' '55' '30' '59' '8' '50' '45' '34' '38' '30s'
 '37' '9' '19' '20/30' '35' '65' '20s' '77' '60' 38 '49' '42' '!2' '24'
 '73' '25' '18' '50s' '58' '67' '17' '14' '6' '41' '53' '68' '43' '40'
 '51' '31' 39 26 58 51 14 17 10 13 33 16 40 49 41 60 28 '40s' 68 35 62
 'teen' 20 8 22 32 56 'Teen' 12 21 42 36 18 37 50 'M' 9 24 15 11 27 57 34
 25 '!6' 31 64 '!!' 47 55 19 7 71 48 59 53 54 75 '45 and 15' 46 61 73 52
 29 30 70 23 4 63 45 44 '28 & 22' '22, 57, 31' '60s' "20's" 43 65 67 74
 '9 & 60' 'a minor' 6 69 3 82 66 72 '23' '12' '36' '63' '71' '48' '70'
 '18 months' '57' '7' '28' '33' '61' '74' '27' '3' '56' '28 & 26' '5' '54'
 '86' '18 or 20' '12 or 13' '46 & 34' '28, 23 & 30' 'Teens' 77 '36 & 26'
 '8 or 10' 84 '\xa0 ' ' ' '30 or 36' '6½' '21 & ?' '33 or 37' 'mid-30s'
 '23 & 20' 5 ' 30' '7      &    31' ' 28' '20?' "60's" '69' '32 & 30'
 '16 to 18' '87' 'Elderly' 'mid-20s' 'Ca. 33' '74 ' '45 ' '21 or 26' '20 '
 '>50' '18 to 22' 'adult' '9 & 12' '? & 19' '9 months' '25 to 35'
 '23 & 26' 1 '(adult)' '33 & 37' '25 or 28' '37, 67, 35, 27,  ? & 27'
 '21, 34,24 & 35' '30 & 32' '50 & 30' '17 & 35' 'X' '"middle-age"'
 '13 or 18' '33 & 26' '4' 'MAKE LINE GREEN' ' 43' '81' '"young"' '7 or 8'
 78 '17 & 16' 'F' 'Both 11' '9 or 10' 'young' '36 & 23' '  ' '78' 'A.M.'
 '?    &   14' '10 or 12' '31 or 33' '2½' '1' '13 or 14']

Valores faltantes:
2726

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity    4036
Name         187
Sex          515
Age         2726
Injury        25
Died         527
Species     2914
dtype: int64

In [301]:
# Eliminar espacios en las celdas
df['Age'] = df['Age'].str.strip()

# Reemplazar celdas vacias por NAN
df['Age'] = df['Age'].replace({''}, 'NaN')

# Convertir la columna 'Age' a numérica, con valores no numéricos convertidos a NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [302]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Injury'].unique())
print("\nValores faltantes:")
print(df['Injury'].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Minor injuries to back, abdomen and legs'
 'No injury, shark bit surfboard' 'Lacerations to left foot' ...
 'FATAL, leg stripped of flesh  '
 'FATAL, knocked overboard by tail of shark & carried off by shark '
 'FATAL. "Shark bit him in half, carrying away the lower extremities" ']

Valores faltantes:
25

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity    4036
Name         187
Sex          515
Age         4823
Injury        25
Died         527
Species     2914
dtype: int64

In [303]:
# Eliminar espacios en las celdas
df['Injury'] = df['Injury'].str.strip()

# Reemplazar celdas vacias por NAN
df['Injury'] = df['Injury'].replace({''}, 'NaN')

# Reemplazar minusculas por mayusculas
df['Injury'] = df['Injury'].str.upper()

In [304]:
# Verificar valores unicos y visualizarlos
print("\nValores unicos:")
print(df['Species '].unique())
print("\nValores faltantes:")
print(df['Species '].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['Tiger shark' "Tiger shark 8'" "3' to 4' shark" ... "12' tiger shark"
 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

Valores faltantes:
2914

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity    4036
Name         187
Sex          515
Age         4823
Injury        25
Died         527
Species     2914
dtype: int64

In [305]:
# Reemplazar minisculas por mayusculas
df['Species '] = df['Species '].str.upper()

# Reemplazar celdas vacias por NAN
df['Species '] = df['Species '].replace({''}, 'NaN')

In [306]:
# Valores unicos
print("\nValores unicos:")
print(df['Species '].unique())
print("\nValores faltantes:")
print(df['Species '].isnull().sum())
print("\nValores faltantes por columna:")
print(df.isnull().sum())

Valores unicos:
['TIGER SHARK' "TIGER SHARK 8'" "3' TO 4' SHARK" ... "12' TIGER SHARK"
 'BLUE POINTERS'
 'SAID TO INVOLVE A GREY NURSE SHARK THAT LEAPT OUT OF THE WATER AND  SEIZED THE BOY BUT SPECIES IDENTIFICATION IS QUESTIONABLE']

Valores faltantes:
2914

Valores faltantes por columna:
Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity    4036
Name         187
Sex          515
Age         4823
Injury        25
Died         527
Species     2914
dtype: int64

### ELIMINAMOS DUPLICADOS

In [307]:
df.duplicated().sum()

2

In [308]:
df.duplicated().any()

True

In [309]:
df.drop_duplicates(inplace=True)

In [310]:
# Valores nulos
df.isnull().sum()

Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity    4034
Name         187
Sex          515
Age         4821
Injury        25
Died         527
Species     2913
dtype: int64

### Eliminamos las filas de 1642 para atras

In [311]:
df.shape

(6623, 13)

In [312]:
# Valores nulos
df.isnull().sum()

Date           0
Year           2
Type          18
Country       40
State        419
Location     482
Activity    4034
Name         187
Sex          515
Age         4821
Injury        25
Died         527
Species     2913
dtype: int64

In [313]:
# Eliminar las filas de menos del year 1700
df = df[df['Year'] >= 1700]

In [314]:
df.shape

(6483, 13)

In [315]:
# Valores nulos
df.isnull().sum()

Date           0
Year           0
Type          16
Country       36
State        391
Location     443
Activity    3919
Name         182
Sex          505
Age         4688
Injury        21
Died         523
Species     2813
dtype: int64

In [147]:
# Mostrar valores unicos y visualizarlos
df['Date'].sample(30)

4393     26-Jan-1963
1504     31-Jul-2011
2566        May-2001
3392     12-Jul-1987
4328     01-Feb-1964
837      05-Sep-2016
4400        Jan-1963
6314     19-May-1892
6356        Dec-1888
6647            1854
5220     24-Dec-1946
3207     07-Jul-1991
1063     09-Feb-2015
2940     10-Jan-1996
928      25-Jan-2016
5780     03-Jul-1926
115      05-Jan-2023
2275     26-Jun-2004
120         Dec-2022
6276     15-Mar-1895
5121           1950s
3189     04-Dec-1991
1008     04-Jul-2015
992      18-Aug-2015
1929     29-Oct-2007
5074     22-May-1951
3529     25-Dec-1983
3676     17-Oct-1980
5282     14-Mar-1944
439      23-Nov-2019
Name: Date, dtype: object

In [148]:
# Eliminar espacios en las celdas

df['Date'] = df['Date'].str.strip()

In [149]:
# Remplazar espacios por guiones
df['Date'] = df['Date'].apply(lambda x: x.replace(' ', '-') if isinstance(x, str) else x)

In [150]:
# Mostrar valores unicos y visualizarlos
df['Date'].sample(30)

3093    21-Aug-1993
4764    05-Oct-1958
1131    09-Aug-2014
4515    16-Jul-1961
3880    23-Aug-1974
3518    10-Mar-1984
5781    18-May-1926
6519    15-Jun-1874
4215    25-Jan-1966
4798    09-Jan-1958
6492    11-Mar-1877
623            2018
3646    12-Jun-1981
3369    12-Feb-1988
1576    01-Dec-2010
996     28-Jul-2015
5012       Mar-1953
1391    20-Jun-2012
4244    02-Jul-1965
3840    23-Jul-1975
46             2023
5628    27-Jan-1932
5621    12-May-1932
1005    10-Jul-2015
3433       Aug-1986
2301    28-Mar-2004
1085    15-Dec-2014
2085    20-Jun-2006
4132    20-Sep-1967
6538       Aug-1871
Name: Date, dtype: object

In [151]:
# Función para reemplazar 'Reported-' por 'NaN', 'Late-' por 'NaN', 'Early-' por 'NaN'

df['Date'] = df['Date'].str.replace('^(Reported-|Late-|Early-)', '', regex=True)

In [152]:
# Function to remove the day if the length of the split parts is 3 (i.e., day, month, year)
def quitar_dia(x):
    parts = x.split('-')
    if len(parts) == 3:
        return '-'.join(parts[1:])  # Return the string without the first element (the day)
    return x  # Return the original string if it's not in the expected format

In [153]:
df['Date'] = df['Date'].apply(lambda x: quitar_dia(x) if isinstance(x, str) else x)

In [154]:
df['Date'].sample(30)

6784    Oct-1753
5821    Jan-1924
362     Aug-2020
1640    May-2010
3185    Jan-1992
5365    Nov-1941
6357    Oct-1888
4633    Apr-1960
6109    Apr-1906
5767    Jan-1927
3020    Dec-1994
2374    Jul-2003
3284    Sep-1989
4475    Jan-1962
6023    Apr-1911
1017    Jun-2015
4976    Feb-1954
48      Aug-2023
3173    Mar-1992
6356    Dec-1888
5763    Feb-1927
1306    Mar-2013
4610    Jun-1960
3747    Apr-1978
3773    Apr-1977
5780    Jul-1926
1653    Feb-2010
3172    Apr-1992
2363    Sep-2003
373     Jul-2020
Name: Date, dtype: object

In [157]:
df['Date'] = pd.to_datetime(df['Date'],format ='%b-%Y', errors='coerce')

In [158]:
df.dtypes

Date        datetime64[ns]
Year               float64
Type                object
Country             object
State               object
Location            object
Activity            object
Name                object
Sex                 object
Age                float64
Injury              object
Died                object
Species             object
dtype: object

In [159]:
df['Date'].sample(30)

6625   1858-03-01
5645   1931-07-01
6104   1906-09-01
5574   1934-04-01
1533   2011-05-01
2621   2000-09-01
4508   1961-09-01
1918   2007-12-01
107    2023-02-01
957    2015-10-01
767    2017-04-01
4626   1960-04-01
2366   2003-08-01
3059   1994-04-01
4195   1966-07-01
2529   2001-08-01
1040   2015-05-01
505    2019-05-01
5472   1937-08-01
1829   2008-08-01
4351   1963-12-01
2065   2006-07-01
122    2022-12-01
2237   2004-11-01
3856   1975-03-01
2244   2004-10-01
6360   1888-07-01
5074   1951-05-01
143    2022-08-01
743           NaT
Name: Date, dtype: datetime64[ns]

In [160]:
df['Date'].isna().sum()

224